swagger: '2.0'
info:
  title: AYLIEN News API
  description: > 
    The AYLIEN News API is the most powerful way of sourcing, searching
    and syndicating analyzed and enriched news content. It is accessed
    by sending HTTP requests to our server, which returns information
    to your client.
  termsOfService: "https://newsapi.aylien.com/tos"
  contact:
    name: API support
    url: https://newsapi.aylien.com/
    email: support@aylien.com
  version: '1.0'
host: api.newsapi.aylien.com
basePath: /api/v1
schemes:
  - https
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - text/xml
securityDefinitions:
  app_id:
    type: apiKey
    name: X-AYLIEN-NewsAPI-Application-ID
    description: >
      X-AYLIEN-NewsAPI-Application-ID is the identifier of your server,
      script, or program with a specific application.
      This parameter is required if you are accessing APIs
      without authenticating.
    in: header
  app_key:
    type: apiKey
    name: X-AYLIEN-NewsAPI-Application-Key
    description: >
      X-AYLIEN-NewsAPI-Application-Key is the secret key of your server,
      script, or program with a specific application.
      This parameter is required if you are accessing APIs
      without authenticating.
    in: header
paths:
  /stories:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List Stories
      operationId: listStories
      description: >
        The stories endpoint is used to return stories based on parameters
        you set in your query. The News API crawler gathers articles in
        near real-time and stores information about them, or metadata.
        Below you can see all of the query parameters, which you can use to
        narrow down your query.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_published_at_start'
        - $ref: '#/parameters/story_published_at_end'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        - $ref: '#/parameters/story_clusters'
        - $ref: '#/parameters/story_return'
        - $ref: '#/parameters/story_sort_by'
        - $ref: '#/parameters/sort_direction'
        - $ref: '#/parameters/cursor'
        - $ref: '#/parameters/per_page'
      responses:
        '200':
          $ref: '#/responses/stories'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /related_stories:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List related stories
      operationId: listRelatedStories
      description: >
        This endpoint is used for finding semantically similar stories based on
        the parameters you provide as inputs. For example, if you want to find
        stories similar to a Tweet or any text extract you input, the
        related stories endpoint will analyze the entities present and
        the meaning of the text, and find stories with a similar meaning.
        The maximum number of related stories returned is 100.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_published_at_start'
        - $ref: '#/parameters/story_published_at_end'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        - $ref: '#/parameters/story_clusters'
        - $ref: '#/parameters/story_return'
        - $ref: '#/parameters/input_story_id'
        - $ref: '#/parameters/input_url'
        - $ref: '#/parameters/input_title'
        - $ref: '#/parameters/input_body'
        - $ref: '#/parameters/related_stories_boost_by'
        - $ref: '#/parameters/input_language'
        
        - $ref: '#/parameters/per_page_default_3'
      responses:
        '200':
          $ref: '#/responses/related_stories'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /coverages:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List coverages
      operationId: listCoverages
      description: >
        The coverages endpoint allows you to understand the reach a document
        has had. For example, you can track the coverage of a press release or
        a Tweet based on how many times it has been mentioned in stories.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_published_at_start'
        - $ref: '#/parameters/story_published_at_end'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        - $ref: '#/parameters/story_clusters'
        - $ref: '#/parameters/story_return'
        - $ref: '#/parameters/input_story_id'
        - $ref: '#/parameters/input_url'
        - $ref: '#/parameters/input_title'
        - $ref: '#/parameters/input_body'
        - $ref: '#/parameters/coverages_published_at'
        - $ref: '#/parameters/input_language'
        
        - $ref: '#/parameters/per_page_default_3'
      responses:
        '200':
          $ref: '#/responses/coverages'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /autocompletes:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List autocompletes
      operationId: listAutocompletes
      description: >
        The autocompletes endpoint a string of characters provided to it, and
        then returns suggested terms that are the most likely full words or
        strings. The terms returned by the News API are based on parameters
        the type parameters you can see below. For example, if you provide
        the autocompletes endpoint with the term `New York C` and select
        the type `dbpedia_resources`, the API will return links to
        the DBpedia resources `New_York_City`, `New_York_City_Subway`,
        `New_York_City_Police_Department`, and so on.
      parameters:
        - $ref: '#/parameters/autocompletes_type'
        - $ref: '#/parameters/autocompletes_term'
        - $ref: '#/parameters/autocompletes_language'
        - $ref: '#/parameters/per_page_default_3'
      responses:
        '200':
          $ref: '#/responses/autocompletes'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /time_series:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List time series
      operationId: listTimeSeries
      description: >
        The time series endpoint allows you to track information contained
        in stories over time. This information can be anything from mentions
        of a topic or entities, sentiment about a topic, or the volume of
        stories published by a source, to name but a few. The full list of
        parameters is given below. Using the
        [Date Math Syntax](https://newsapi.aylien.com/docs/working-with-dates),
        you can easily set your query to return information from any
        time period, from the current point in time to when the News API
        started collecting stories.
        The returned information can be rounded to a time also specified by
        you, for example by setting the results into hourly, daily, or
        weekly data points.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        
        - $ref: '#/parameters/time_series_published_at_start'
        - $ref: '#/parameters/time_series_published_at_end'
        - $ref: '#/parameters/time_series_period'
      responses:
        '200':
          $ref: '#/responses/time_series'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /trends:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List trends
      operationId: listTrends
      description: >
        The trends endpoint allows you to identify the most-mentioned
        entities, concepts and keywords relevant to your query. For example,
        this endpoint allows you to set parameters like a time period,
        a subject category, or an entity, and your request will return
        the most mentioned entities or keywords that are mentioned in relation
        to your query.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_published_at_start'
        - $ref: '#/parameters/story_published_at_end'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        
        - $ref: '#/parameters/trends_field'
      responses:
        '200':
          $ref: '#/responses/trends'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /histograms:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List histograms
      operationId: listHistograms
      description: >
        For the numerical metadata that the News API gathers
        (such as word counts or social shares for example), you can use the
        histograms endpoint to access and display this information. As this
        endpoint does not return actual stories, the results you are given
        will not count towards your story allowance provided by your
        subscription, so you can effectively query this endpoint free of charge.
      parameters:
        - $ref: '#/parameters/story_id'
        - $ref: '#/parameters/story_!id'
        - $ref: '#/parameters/story_title'
        - $ref: '#/parameters/story_body'
        - $ref: '#/parameters/story_text'
        - $ref: '#/parameters/story_translations_en_title'
        - $ref: '#/parameters/story_translations_en_body'
        - $ref: '#/parameters/story_translations_en_text'
        - $ref: '#/parameters/story_language'
        - $ref: '#/parameters/story_!language'
        - $ref: '#/parameters/story_published_at_start'
        - $ref: '#/parameters/story_published_at_end'
        - $ref: '#/parameters/story_categories_taxonomy'
        - $ref: '#/parameters/story_categories_confident'
        - $ref: '#/parameters/story_categories_id'
        - $ref: '#/parameters/story_!categories_id'
        - $ref: '#/parameters/story_categories_level'
        - $ref: '#/parameters/story_!categories_level'
        - $ref: '#/parameters/story_entities_title_text'
        - $ref: '#/parameters/story_!entities_title_text'
        - $ref: '#/parameters/story_entities_title_type'
        - $ref: '#/parameters/story_!entities_title_type'
        - $ref: '#/parameters/story_entities_title_links_dbpedia'
        - $ref: '#/parameters/story_!entities_title_links_dbpedia'
        - $ref: '#/parameters/story_entities_body_text'
        - $ref: '#/parameters/story_!entities_body_text'
        - $ref: '#/parameters/story_entities_body_type'
        - $ref: '#/parameters/story_!entities_body_type'
        - $ref: '#/parameters/story_entities_body_links_dbpedia'
        - $ref: '#/parameters/story_!entities_body_links_dbpedia'
        - $ref: '#/parameters/story_sentiment_title_polarity'
        - $ref: '#/parameters/story_!sentiment_title_polarity'
        - $ref: '#/parameters/story_sentiment_body_polarity'
        - $ref: '#/parameters/story_!sentiment_body_polarity'
        - $ref: '#/parameters/story_media_images_count_min'
        - $ref: '#/parameters/story_media_images_count_max'
        - $ref: '#/parameters/story_media_images_width_min'
        - $ref: '#/parameters/story_media_images_width_max'
        - $ref: '#/parameters/story_media_images_height_min'
        - $ref: '#/parameters/story_media_images_height_max'
        - $ref: '#/parameters/story_media_images_content_length_min'
        - $ref: '#/parameters/story_media_images_content_length_max'
        - $ref: '#/parameters/story_media_images_format'
        - $ref: '#/parameters/story_!media_images_format'
        - $ref: '#/parameters/story_media_videos_count_min'
        - $ref: '#/parameters/story_media_videos_count_max'
        - $ref: '#/parameters/story_author_id'
        - $ref: '#/parameters/story_!author_id'
        - $ref: '#/parameters/story_author_name'
        - $ref: '#/parameters/story_!author_name'
        - $ref: '#/parameters/story_source_id'
        - $ref: '#/parameters/story_!source_id'
        - $ref: '#/parameters/story_source_name'
        - $ref: '#/parameters/story_!source_name'
        - $ref: '#/parameters/story_source_domain'
        - $ref: '#/parameters/story_!source_domain'
        - $ref: '#/parameters/story_source_locations_country'
        - $ref: '#/parameters/story_!source_locations_country'
        - $ref: '#/parameters/story_source_locations_state'
        - $ref: '#/parameters/story_!source_locations_state'
        - $ref: '#/parameters/story_source_locations_city'
        - $ref: '#/parameters/story_!source_locations_city'
        - $ref: '#/parameters/story_source_scopes_country'
        - $ref: '#/parameters/story_!source_scopes_country'
        - $ref: '#/parameters/story_source_scopes_state'
        - $ref: '#/parameters/story_!source_scopes_state'
        - $ref: '#/parameters/story_source_scopes_city'
        - $ref: '#/parameters/story_!source_scopes_city'
        - $ref: '#/parameters/story_source_scopes_level'
        - $ref: '#/parameters/story_!source_scopes_level'
        - $ref: '#/parameters/story_source_links_in_count_min'
        - $ref: '#/parameters/story_source_links_in_count_max'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_min'
        - $ref: '#/parameters/story_source_rankings_alexa_rank_max'
        - $ref: '#/parameters/story_source_rankings_alexa_country'
        - $ref: '#/parameters/story_social_shares_count_facebook_min'
        - $ref: '#/parameters/story_social_shares_count_facebook_max'
        - $ref: '#/parameters/story_social_shares_count_google_plus_min'
        - $ref: '#/parameters/story_social_shares_count_google_plus_max'
        - $ref: '#/parameters/story_social_shares_count_linkedin_min'
        - $ref: '#/parameters/story_social_shares_count_linkedin_max'
        - $ref: '#/parameters/story_social_shares_count_reddit_min'
        - $ref: '#/parameters/story_social_shares_count_reddit_max'
        
        - $ref: '#/parameters/histograms_interval_start'
        - $ref: '#/parameters/histograms_interval_end'
        - $ref: '#/parameters/histograms_interval_width'
        - $ref: '#/parameters/histograms_interval_field'
      responses:
        '200':
          $ref: '#/responses/histograms'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
  /clusters:
    get:
      security:
        - app_id: []
        - app_key: []
      summary: List Clusters
      operationId: listClusters
      description: >
        The clusters endpoint is used to return clusters based on parameters
        you set in your query. 
      parameters:
        - $ref: "#parameters/cluster_id"
        - $ref: "#parameters/cluster_!id"
        - $ref: "#parameters/cluster_story_count_min"
        - $ref: "#parameters/cluster_story_count_max"
        - $ref: "#parameters/cluster_time_start"
        - $ref: "#parameters/cluster_time_end"
        - $ref: "#parameters/cluster_earliest_story_start"
        - $ref: "#parameters/cluster_earliest_story_end"
        - $ref: "#parameters/cluster_latest_story_start"
        - $ref: "#parameters/cluster_latest_story_end"
        - $ref: "#parameters/cluster_location_country"
        - $ref: "#parameters/cluster_!location_country"
      responses:
        '200':
          $ref: '#/responses/clusters'
        '401':
          $ref: '#/responses/error401_Unauthorized'
        '404':
          $ref: '#/responses/error404_NotFound'
        '422':
          $ref: '#/responses/error422_UnprocessableEntity'
        '429':
          $ref: '#/responses/error429_TooManyRequests'
        '500':
          $ref: '#/responses/error500_InternalServerError'
parameters:
  story_id:
    name: id[]
    in: query
    description: >
      This parameter is used for finding stories by story id.
    type: array
    items:
      type: integer
      format: int64
    collectionFormat: multi
  story_!id:
    name: "!id[]"
    in: query
    description: >
      This parameter is used for excluding stories by story id.
    type: array
    items:
      type: integer
      format: int64
    collectionFormat: multi
  story_title:
    name: title
    in: query
    description: >
      This parameter is used for finding stories whose title contains
      a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
    type: string
  story_body:
    name: body
    in: query
    description: >
      This parameter is used for finding stories whose body contains
      a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
    type: string
  story_text:
    name: text
    in: query
    description: >
      This parameter is used for finding stories whose title or body
      contains a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
    type: string
  story_language:
    name: language[]
    in: query
    description: >
      This parameter is used for finding stories whose language is
      the specified value. It supports
      [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
      language codes.
    type: array
    items:
      type: string
      enum: [en, de, fr, it, es, pt]
    collectionFormat: multi
  story_!language:
    name: "!language[]"
    in: query
    description: >
      This parameter is used for excluding stories whose language is
      the specified value. It supports
      [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
      language codes.
    type: array
    items:
      type: string
      enum: [en, de, fr, it, es, pt]
    collectionFormat: multi
  story_published_at_start:
    name: published_at.start
    in: query
    description: >
      This parameter is used for finding stories whose published at time is greater
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  story_published_at_end:
    name: published_at.end
    in: query
    description: >
      This parameter is used for finding stories whose published at time is less
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  story_categories_taxonomy:
    name: categories.taxonomy
    in: query
    description: >
      This parameter is used for defining the type of the taxonomy
      for the rest of the categories queries. You can read more about working
      with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: string
    enum: [iab-qag, iptc-subjectcode]
  story_categories_confident:
    name: categories.confident
    in: query
    description: >
      This parameter is used for finding stories whose categories are confident.
      You can read more about working with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: boolean
    default: true
  story_categories_id:
    name: categories.id[]
    in: query
    description: >
      This parameter is used for finding stories by categories id.
      You can read more about working with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!categories_id:
    name: "!categories.id[]"
    in: query
    description: >
      This parameter is used for excluding stories by categories id.
      You can read more about working with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_categories_level:
    name: categories.level[]
    in: query
    description: >
      This parameter is used for finding stories by categories level.
      You can read more about working with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: array
    items:
      type: integer
    collectionFormat: multi
  story_!categories_level:
    name: "!categories.level[]"
    in: query
    description: >
      This parameter is used for excluding stories by categories level.
      You can read more about working with categories
      [here](https://newsapi.aylien.com/docs/working-with-categories).
    type: array
    items:
      type: integer
    collectionFormat: multi
  story_entities_title_text:
    name: entities.title.text[]
    in: query
    description: >
      This parameter is used to find stories based on the specified
      entities `text` in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_title_text:
    name: "!entities.title.text[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified
      entities `text` in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_entities_title_type:
    name: entities.title.type[]
    in: query
    description: >
      This parameter is used to find stories based on the specified
      entities `type` in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_title_type:
    name: "!entities.title.type[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified
      entities `type` in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_entities_title_links_dbpedia:
    name: entities.title.links.dbpedia[]
    in: query
    description: >
      This parameter is used to find stories based on the specified
      entities dbpedia URL in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_title_links_dbpedia:
    name: "!entities.title.links.dbpedia[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified
      entities dbpedia URL in story titles. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_entities_body_text:
    name: entities.body.text[]
    in: query
    description: >
      This parameter is used to find stories based on the specified entities
      `text` in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_body_text:
    name: "!entities.body.text[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified entities
      `text` in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_entities_body_type:
    name: entities.body.type[]
    in: query
    description: >
      This parameter is used to find stories based on the specified entities
      `type` in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_body_type:
    name: "!entities.body.type[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified entities
      `type` in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_entities_body_links_dbpedia:
    name: entities.body.links.dbpedia[]
    in: query
    description: >
      This parameter is used to find stories based on the specified entities
      dbpedia URL in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!entities_body_links_dbpedia:
    name: "!entities.body.links.dbpedia[]"
    in: query
    description: >
      This parameter is used to exclude stories based on the specified entities
      dbpedia URL in the body of stories. You can read more about working with
      entities [here](https://newsapi.aylien.com/docs/working-with-entities).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_sentiment_title_polarity:
    name: sentiment.title.polarity
    in: query
    description: >
      This parameter is used for finding stories whose title sentiment
      is the specified value.
    type: string
    enum: [positive, neutral, negative]
  story_!sentiment_title_polarity:
    name: "!sentiment.title.polarity"
    in: query
    description: >
      This parameter is used for excluding stories whose title sentiment
      is the specified value.
    type: string
    enum: [positive, neutral, negative]
  story_sentiment_body_polarity:
    name: sentiment.body.polarity
    in: query
    description: >
      This parameter is used for finding stories whose body sentiment
      is the specified value.
    type: string
    enum: [positive, neutral, negative]
  story_!sentiment_body_polarity:
    name: "!sentiment.body.polarity"
    in: query
    description: >
      This parameter is used for excluding stories whose body sentiment
      is the specified value.
    type: string
    enum: [positive, neutral, negative]
  story_media_images_count_min:
    name: media.images.count.min
    in: query
    description: >
      This parameter is used for finding stories whose number of images is
      greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_count_max:
    name: media.images.count.max
    in: query
    description: >
      This parameter is used for finding stories whose number of images is
      less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_width_min:
    name: media.images.width.min
    in: query
    description: >
      This parameter is used for finding stories whose width of images are
      greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_width_max:
    name: media.images.width.max
    in: query
    description: >
      This parameter is used for finding stories whose width of images are
      less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_height_min:
    name: media.images.height.min
    in: query
    description: >
      This parameter is used for finding stories whose height of images are
      greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_height_max:
    name: media.images.height.max
    in: query
    description: >
      This parameter is used for finding stories whose height of images are
      less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_content_length_min:
    name: media.images.content_length.min
    in: query
    description: >
      This parameter is used for finding stories whose images content length are
      greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_content_length_max:
    name: media.images.content_length.max
    in: query
    description: >
      This parameter is used for finding stories whose images content length are
      less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_images_format:
    name: media.images.format[]
    in: query
    description: >
      This parameter is used for finding stories whose images format are
      the specified value.
    type: array
    items:
      type: string
      enum: [BMP, GIF, JPEG, PNG, TIFF, PSD, ICO, CUR, WEBP, SVG]
    collectionFormat: multi
  story_!media_images_format:
    name: "!media.images.format[]"
    in: query
    description: >
      This parameter is used for excluding stories whose images format are
      the specified value.
    type: array
    items:
      type: string
      enum: [BMP, GIF, JPEG, PNG, TIFF, PSD, ICO, CUR, WEBP, SVG]
    collectionFormat: multi
  story_media_videos_count_min:
    name: media.videos.count.min
    in: query
    description: >
      This parameter is used for finding stories whose number of videos is
      greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_media_videos_count_max:
    name: media.videos.count.max
    in: query
    description: >
      This parameter is used for finding stories whose number of videos is
      less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_author_id:
    name: author.id[]
    in: query
    description: >
      This parameter is used for finding stories whose author id
      is the specified value.
    type: array
    items:
      type: integer
      format: int32
    collectionFormat: multi
  story_!author_id:
    name: "!author.id[]"
    in: query
    description: >
      This parameter is used for excluding stories whose author id
      is the specified value.
    type: array
    items:
      type: integer
      format: int32
    collectionFormat: multi
  story_author_name:
    name: author.name
    in: query
    description: >
      This parameter is used for finding stories whose author full name
      contains the specified value.
    type: string
  story_!author_name:
    name: "!author.name"
    in: query
    description: >
      This parameter is used for excluding stories whose author full name
      contains the specified value.
    type: string
  story_source_id:
    name: source.id[]
    in: query
    description: >
      This parameter is used for finding stories whose source id
      is the specified value.
    type: array
    items:
      type: integer
      format: int32
    collectionFormat: multi
  story_!source_id:
    name: "!source.id[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source id
      is the specified value.
    type: array
    items:
      type: integer
      format: int32
    collectionFormat: multi
  story_source_name:
    name: source.name[]
    in: query
    description: >
      This parameter is used for finding stories whose source name
      contains the specified value.
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_name:
    name: "!source.name[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source name
      contains the specified value.
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_domain:
    name: source.domain[]
    in: query
    description: >
      This parameter is used for finding stories whose source domain
      is the specified value.
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_domain:
    name: "!source.domain[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source domain
      is the specified value.
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_locations_country:
    name: source.locations.country[]
    in: query
    description: >
      This parameter is used for finding stories whose source country
      is the specified value. It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_locations_country:
    name: "!source.locations.country[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source country
      is the specified value. It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_locations_state:
    name: source.locations.state[]
    in: query
    description: >
      This parameter is used for finding stories whose source state/province
      is the specified value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_locations_state:
    name: "!source.locations.state[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source state/province
      is the specified value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_locations_city:
    name: source.locations.city[]
    in: query
    description: >
      This parameter is used for finding stories whose source city
      is the specified value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_locations_city:
    name: "!source.locations.city[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source city
      is the specified value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_scopes_country:
    name: source.scopes.country[]
    in: query
    description: >
      This parameter is used for finding stories whose source scopes
      is the specified country value. It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_scopes_country:
    name: "!source.scopes.country[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source scopes
      is the specified country value. It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_scopes_state:
    name: source.scopes.state[]
    in: query
    description: >
      This parameter is used for finding stories whose source scopes
      is the specified state/province value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_scopes_state:
    name: "!source.scopes.state[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source scopes
      is the specified state/province value. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_scopes_city:
    name: source.scopes.city[]
    in: query
    description: >
      This parameter is used for finding stories whose source scopes
      is the specified city value.
      [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_!source_scopes_city:
    name: "!source.scopes.city[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source scopes
      is the specified city value.
      [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_source_scopes_level:
    name: source.scopes.level[]
    in: query
    description: >
      This parameter is used for finding stories whose source scopes
      is the specified level value.
      [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
      enum: [international, national, local]
    collectionFormat: multi
  story_!source_scopes_level:
    name: "!source.scopes.level[]"
    in: query
    description: >
      This parameter is used for excluding stories whose source scopes
      is the specified level value.
      [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
      enum: [international, national, local]
    collectionFormat: multi
  story_source_links_in_count_min:
    name: source.links_in_count.min
    in: query
    description: >
      This parameter is used for finding stories from sources whose
      Links in count is greater than or equal to the specified value.
      You can read more about working with Links in count
      [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_source_links_in_count_max:
    name: source.links_in_count.max
    in: query
    description: >
      This parameter is used for finding stories from sources whose Links
      in count is less than or equal to the specified value.
      You can read more about working with Links in count
      [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_source_rankings_alexa_rank_min:
    name: source.rankings.alexa.rank.min
    in: query
    description: >
      This parameter is used for finding stories from sources whose
      Alexa rank is greater than or equal to the specified value.
      You can read more about working with Alexa ranks
      [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_source_rankings_alexa_rank_max:
    name: source.rankings.alexa.rank.max
    in: query
    description: >
      This parameter is used for finding stories from sources whose
      Alexa rank is less than or equal to the specified value.
      You can read more about working with Alexa ranks
      [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_source_rankings_alexa_country:
    name: source.rankings.alexa.country[]
    in: query
    description: >
      This parameter is used for finding stories from sources whose
      Alexa rank is in the specified country value.
      It supports [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. You can read more about working with Alexa ranks
      [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
    type: array
    items:
      type: string
    collectionFormat: multi
  story_social_shares_count_facebook_min:
    name: social_shares_count.facebook.min
    in: query
    description: >
      This parameter is used for finding stories whose Facebook
      social shares count is greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_facebook_max:
    name: social_shares_count.facebook.max
    in: query
    description: >
      This parameter is used for finding stories whose Facebook
      social shares count is less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_google_plus_min:
    name: social_shares_count.google_plus.min
    in: query
    description: >
      This parameter is used for finding stories whose Google+
      social shares count is greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_google_plus_max:
    name: social_shares_count.google_plus.max
    in: query
    description: >
      This parameter is used for finding stories whose Google+
      social shares count is less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_linkedin_min:
    name: social_shares_count.linkedin.min
    in: query
    description: >
      This parameter is used for finding stories whose LinkedIn
      social shares count is greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_linkedin_max:
    name: social_shares_count.linkedin.max
    in: query
    description: >
      This parameter is used for finding stories whose LinkedIn
      social shares count is less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_reddit_min:
    name: social_shares_count.reddit.min
    in: query
    description: >
      This parameter is used for finding stories whose Reddit
      social shares count is greater than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_social_shares_count_reddit_max:
    name: social_shares_count.reddit.max
    in: query
    description: >
      This parameter is used for finding stories whose Reddit
      social shares count is less than or equal to the specified value.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  story_clusters:
    name: clusters[]
    in: query
    type: array
    items:
      type: string
    collectionFormat: multi
    description: >
      This parameter is used for finding stories with belonging to one of clusters in a specific set of clusters
      You can read more about working with clustering
      [here](https://newsapi.aylien.com/docs/working-with-clustering).
  story_translations_en_title:
    name: translations.en.title
    in: query
    type: string
    description: >
      This parameter is used for finding stories whose translation title contains
      a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
  story_translations_en_body:
    name: translations.en.body
    in: query
    type: string
    description: >
      This parameter is used for finding stories whose translation body contains
      a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
  story_translations_en_text:
    name: translations.en.text
    in: query
    type: string
    description: >
      This parameter is used for finding stories whose translation title or body contains
      a specific keyword. It supports
      [boolean operators](https://newsapi.aylien.com/docs/boolean-operators).
  story_return:
    name: return[]
    in: query
    description: This parameter is used for specifying return fields.
    type: array
    items:
      type: string
      enum: [id, title, body, summary, source, author, entities,
            keywords, hashtags, characters_count, words_count,
            sentences_count, paragraphs_count, categories,
            social_shares_count, media, sentiment, language, published_at, links]
    collectionFormat: multi
  story_sort_by:
    name: sort_by
    in: query
    type: string
    description: >
      This parameter is used for changing the order column of the results.
      You can read about sorting results
      [here](https://newsapi.aylien.com/docs/sorting-results).
    default: published_at
    enum: [relevance, recency, hotness, published_at, social_shares_count, social_shares_count.facebook, social_shares_count.linkedin, social_shares_count.google_plus, social_shares_count.reddit, media.images.count, media.videos.count, source.links_in_count, source.rankings.alexa.rank, source.rankings.alexa.rank.AF, source.rankings.alexa.rank.AX, source.rankings.alexa.rank.AL, source.rankings.alexa.rank.DZ, source.rankings.alexa.rank.AS, source.rankings.alexa.rank.AD, source.rankings.alexa.rank.AO, source.rankings.alexa.rank.AI, source.rankings.alexa.rank.AQ, source.rankings.alexa.rank.AG, source.rankings.alexa.rank.AR, source.rankings.alexa.rank.AM, source.rankings.alexa.rank.AW, source.rankings.alexa.rank.AU, source.rankings.alexa.rank.AT, source.rankings.alexa.rank.AZ, source.rankings.alexa.rank.BS, source.rankings.alexa.rank.BH, source.rankings.alexa.rank.BD, source.rankings.alexa.rank.BB, source.rankings.alexa.rank.BY, source.rankings.alexa.rank.BE, source.rankings.alexa.rank.BZ, source.rankings.alexa.rank.BJ, source.rankings.alexa.rank.BM, source.rankings.alexa.rank.BT, source.rankings.alexa.rank.BO, source.rankings.alexa.rank.BQ, source.rankings.alexa.rank.BA, source.rankings.alexa.rank.BW, source.rankings.alexa.rank.BV, source.rankings.alexa.rank.BR, source.rankings.alexa.rank.IO, source.rankings.alexa.rank.BN, source.rankings.alexa.rank.BG, source.rankings.alexa.rank.BF, source.rankings.alexa.rank.BI, source.rankings.alexa.rank.KH, source.rankings.alexa.rank.CM, source.rankings.alexa.rank.CA, source.rankings.alexa.rank.CV, source.rankings.alexa.rank.KY, source.rankings.alexa.rank.CF, source.rankings.alexa.rank.TD, source.rankings.alexa.rank.CL, source.rankings.alexa.rank.CN, source.rankings.alexa.rank.CX, source.rankings.alexa.rank.CC, source.rankings.alexa.rank.CO, source.rankings.alexa.rank.KM, source.rankings.alexa.rank.CG, source.rankings.alexa.rank.CD, source.rankings.alexa.rank.CK, source.rankings.alexa.rank.CR, source.rankings.alexa.rank.CI, source.rankings.alexa.rank.HR, source.rankings.alexa.rank.CU, source.rankings.alexa.rank.CW, source.rankings.alexa.rank.CY, source.rankings.alexa.rank.CZ, source.rankings.alexa.rank.DK, source.rankings.alexa.rank.DJ, source.rankings.alexa.rank.DM, source.rankings.alexa.rank.DO, source.rankings.alexa.rank.EC, source.rankings.alexa.rank.EG, source.rankings.alexa.rank.SV, source.rankings.alexa.rank.GQ, source.rankings.alexa.rank.ER, source.rankings.alexa.rank.EE, source.rankings.alexa.rank.ET, source.rankings.alexa.rank.FK, source.rankings.alexa.rank.FO, source.rankings.alexa.rank.FJ, source.rankings.alexa.rank.FI, source.rankings.alexa.rank.FR, source.rankings.alexa.rank.GF, source.rankings.alexa.rank.PF, source.rankings.alexa.rank.TF, source.rankings.alexa.rank.GA, source.rankings.alexa.rank.GM, source.rankings.alexa.rank.GE, source.rankings.alexa.rank.DE, source.rankings.alexa.rank.GH, source.rankings.alexa.rank.GI, source.rankings.alexa.rank.GR, source.rankings.alexa.rank.GL, source.rankings.alexa.rank.GD, source.rankings.alexa.rank.GP, source.rankings.alexa.rank.GU, source.rankings.alexa.rank.GT, source.rankings.alexa.rank.GG, source.rankings.alexa.rank.GN, source.rankings.alexa.rank.GW, source.rankings.alexa.rank.GY, source.rankings.alexa.rank.HT, source.rankings.alexa.rank.HM, source.rankings.alexa.rank.VA, source.rankings.alexa.rank.HN, source.rankings.alexa.rank.HK, source.rankings.alexa.rank.HU, source.rankings.alexa.rank.IS, source.rankings.alexa.rank.IN, source.rankings.alexa.rank.ID, source.rankings.alexa.rank.IR, source.rankings.alexa.rank.IQ, source.rankings.alexa.rank.IE, source.rankings.alexa.rank.IM, source.rankings.alexa.rank.IL, source.rankings.alexa.rank.IT, source.rankings.alexa.rank.JM, source.rankings.alexa.rank.JP, source.rankings.alexa.rank.JE, source.rankings.alexa.rank.JO, source.rankings.alexa.rank.KZ, source.rankings.alexa.rank.KE, source.rankings.alexa.rank.KI, source.rankings.alexa.rank.KP, source.rankings.alexa.rank.KR, source.rankings.alexa.rank.KW, source.rankings.alexa.rank.KG, source.rankings.alexa.rank.LA, source.rankings.alexa.rank.LV, source.rankings.alexa.rank.LB, source.rankings.alexa.rank.LS, source.rankings.alexa.rank.LR, source.rankings.alexa.rank.LY, source.rankings.alexa.rank.LI, source.rankings.alexa.rank.LT, source.rankings.alexa.rank.LU, source.rankings.alexa.rank.MO, source.rankings.alexa.rank.MK, source.rankings.alexa.rank.MG, source.rankings.alexa.rank.MW, source.rankings.alexa.rank.MY, source.rankings.alexa.rank.MV, source.rankings.alexa.rank.ML, source.rankings.alexa.rank.MT, source.rankings.alexa.rank.MH, source.rankings.alexa.rank.MQ, source.rankings.alexa.rank.MR, source.rankings.alexa.rank.MU, source.rankings.alexa.rank.YT, source.rankings.alexa.rank.MX, source.rankings.alexa.rank.FM, source.rankings.alexa.rank.MD, source.rankings.alexa.rank.MC, source.rankings.alexa.rank.MN, source.rankings.alexa.rank.ME, source.rankings.alexa.rank.MS, source.rankings.alexa.rank.MA, source.rankings.alexa.rank.MZ, source.rankings.alexa.rank.MM, source.rankings.alexa.rank.NA, source.rankings.alexa.rank.NR, source.rankings.alexa.rank.NP, source.rankings.alexa.rank.NL, source.rankings.alexa.rank.NC, source.rankings.alexa.rank.NZ, source.rankings.alexa.rank.NI, source.rankings.alexa.rank.NE, source.rankings.alexa.rank.NG, source.rankings.alexa.rank.NU, source.rankings.alexa.rank.NF, source.rankings.alexa.rank.MP, source.rankings.alexa.rank.NO, source.rankings.alexa.rank.OM, source.rankings.alexa.rank.PK, source.rankings.alexa.rank.PW, source.rankings.alexa.rank.PS, source.rankings.alexa.rank.PA, source.rankings.alexa.rank.PG, source.rankings.alexa.rank.PY, source.rankings.alexa.rank.PE, source.rankings.alexa.rank.PH, source.rankings.alexa.rank.PN, source.rankings.alexa.rank.PL, source.rankings.alexa.rank.PT, source.rankings.alexa.rank.PR, source.rankings.alexa.rank.QA, source.rankings.alexa.rank.RE, source.rankings.alexa.rank.RO, source.rankings.alexa.rank.RU, source.rankings.alexa.rank.RW, source.rankings.alexa.rank.BL, source.rankings.alexa.rank.SH, source.rankings.alexa.rank.KN, source.rankings.alexa.rank.LC, source.rankings.alexa.rank.MF, source.rankings.alexa.rank.PM, source.rankings.alexa.rank.VC, source.rankings.alexa.rank.WS, source.rankings.alexa.rank.SM, source.rankings.alexa.rank.ST, source.rankings.alexa.rank.SA, source.rankings.alexa.rank.SN, source.rankings.alexa.rank.RS, source.rankings.alexa.rank.SC, source.rankings.alexa.rank.SL, source.rankings.alexa.rank.SG, source.rankings.alexa.rank.SX, source.rankings.alexa.rank.SK, source.rankings.alexa.rank.SI, source.rankings.alexa.rank.SB, source.rankings.alexa.rank.SO, source.rankings.alexa.rank.ZA, source.rankings.alexa.rank.GS, source.rankings.alexa.rank.SS, source.rankings.alexa.rank.ES, source.rankings.alexa.rank.LK, source.rankings.alexa.rank.SD, source.rankings.alexa.rank.SR, source.rankings.alexa.rank.SJ, source.rankings.alexa.rank.SZ, source.rankings.alexa.rank.SE, source.rankings.alexa.rank.CH, source.rankings.alexa.rank.SY, source.rankings.alexa.rank.TW, source.rankings.alexa.rank.TJ, source.rankings.alexa.rank.TZ, source.rankings.alexa.rank.TH, source.rankings.alexa.rank.TL, source.rankings.alexa.rank.TG, source.rankings.alexa.rank.TK, source.rankings.alexa.rank.TO, source.rankings.alexa.rank.TT, source.rankings.alexa.rank.TN, source.rankings.alexa.rank.TR, source.rankings.alexa.rank.TM, source.rankings.alexa.rank.TC, source.rankings.alexa.rank.TV, source.rankings.alexa.rank.UG, source.rankings.alexa.rank.UA, source.rankings.alexa.rank.AE, source.rankings.alexa.rank.GB, source.rankings.alexa.rank.US, source.rankings.alexa.rank.UM, source.rankings.alexa.rank.UY, source.rankings.alexa.rank.UZ, source.rankings.alexa.rank.VU, source.rankings.alexa.rank.VE, source.rankings.alexa.rank.VN, source.rankings.alexa.rank.VG, source.rankings.alexa.rank.VI, source.rankings.alexa.rank.WF, source.rankings.alexa.rank.EH, source.rankings.alexa.rank.YE, source.rankings.alexa.rank.ZM, source.rankings.alexa.rank.ZW]
  time_series_published_at_start:
    name: published_at.start
    in: query
    type: string
    description: >
      This parameter is used for finding stories whose published at time is less
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    default: "NOW-7DAYS/DAY"
  time_series_published_at_end:
    name: published_at.end
    in: query
    type: string
    description: >
      This parameter is used for finding stories whose published at time is greater
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    default: "NOW/DAY"
  time_series_period:
    name: period
    in: query
    type: string
    description: >
      The size of each date range is expressed as an interval to be added to the
      lower bound. It supports Date Math Syntax. Valid options are `+`
      following an integer number greater than 0 and one of the Date Math
      keywords. e.g. `+1DAY`, `+2MINUTES` and `+1MONTH`. Here are
      [Supported keywords](https://newsapi.aylien.com/docs/working-with-dates#date-math).
    default: "+1DAY"
  trends_field:
    name: field
    required: true
    in: query
    description: >
      This parameter is used to specify the trend field.
    enum: [author.name, source.name, source.domain, keywords, entities.title.text, entities.title.type, entities.title.links.dbpedia, entities.body.text, entities.body.type, entities.body.links.dbpedia, hashtags, categories.id, sentiment.title.polarity, sentiment.body.polarity]
    type: string
  autocompletes_type:
    name: type
    required: true
    in: query
    type: string
    description: >
      This parameter is used for defining the type of autocompletes.
    enum: [source_names, source_domains, entity_types, dbpedia_resources]
  autocompletes_term:
    name: term
    required: true
    in: query
    type: string
    minLength: 1
    description: >
      This parameter is used for finding autocomplete objects that contain
      the specified value.
  autocompletes_language:
    name: language
    in: query
    default: en
    type: string
    description: >
      This parameter is used for autocompletes whose language
      is the specified value. It supports
      [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
      language codes.
    enum: [en, de, fr, it, es, pt]
  input_story_id:
    name: story_id
    in: query
    description: A story id
    type: integer
    format: int64
  input_url:
    name: story_url
    in: query
    description: An article or webpage
    type: string
  input_title:
    name: story_title
    in: query
    description: Title of the article
    type: string
  input_body:
    name: story_body
    in: query
    description: Body of the article
    type: string
  input_language:
    name: story_language
    in: query
    default: auto
    enum: [auto, en, de, fr, it, es, pt]
    type: string
    description: >
      This parameter is used for setting the language of the story. It supports
      [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
      language codes.
  related_stories_boost_by:
    name: boost_by
    in: query
    description: >
      This parameter is used for boosting the result by the specified value.
    enum: [recency, popularity]
    type: string
  coverages_published_at:
    name: story_published_at
    type: string
    format: date-time
    in: query
    description: >
      Publish date of the article. If you use a url or title and body of an article
      for getting coverages, this parameter is required. The format used is a
      restricted form of the canonical representation of dateTime in the
      [XML Schema specification (ISO 8601)](https://www.w3.org/TR/xmlschema-2/#dateTime).
  histograms_interval_start:
    name: interval.start
    type: integer
    format: int32
    in: query
    description: >
      This parameter is used for setting the start
      data point of histogram intervals.
  histograms_interval_end:
    name: interval.end
    type: integer
    format: int32
    in: query
    description: >
      This parameter is used for setting the end data
      point of histogram intervals.
  histograms_interval_width:
    name: interval.width
    type: integer
    format: int32
    in: query
    description: >
      This parameter is used for setting the width of histogram intervals.
  histograms_interval_field:
    name: field
    type: string
    enum: [social_shares_count, social_shares_count.facebook, social_shares_count.linkedin, social_shares_count.reddit, social_shares_count.google_plus, characters_count, words_count, sentences_count, paragraphs_count, media.images.count, media.videos.count, source.links_in_count, source.rankings.alexa.rank, source.rankings.alexa.rank.AF, source.rankings.alexa.rank.AX, source.rankings.alexa.rank.AL, source.rankings.alexa.rank.DZ, source.rankings.alexa.rank.AS, source.rankings.alexa.rank.AD, source.rankings.alexa.rank.AO, source.rankings.alexa.rank.AI, source.rankings.alexa.rank.AQ, source.rankings.alexa.rank.AG, source.rankings.alexa.rank.AR, source.rankings.alexa.rank.AM, source.rankings.alexa.rank.AW, source.rankings.alexa.rank.AU, source.rankings.alexa.rank.AT, source.rankings.alexa.rank.AZ, source.rankings.alexa.rank.BS, source.rankings.alexa.rank.BH, source.rankings.alexa.rank.BD, source.rankings.alexa.rank.BB, source.rankings.alexa.rank.BY, source.rankings.alexa.rank.BE, source.rankings.alexa.rank.BZ, source.rankings.alexa.rank.BJ, source.rankings.alexa.rank.BM, source.rankings.alexa.rank.BT, source.rankings.alexa.rank.BO, source.rankings.alexa.rank.BQ, source.rankings.alexa.rank.BA, source.rankings.alexa.rank.BW, source.rankings.alexa.rank.BV, source.rankings.alexa.rank.BR, source.rankings.alexa.rank.IO, source.rankings.alexa.rank.BN, source.rankings.alexa.rank.BG, source.rankings.alexa.rank.BF, source.rankings.alexa.rank.BI, source.rankings.alexa.rank.KH, source.rankings.alexa.rank.CM, source.rankings.alexa.rank.CA, source.rankings.alexa.rank.CV, source.rankings.alexa.rank.KY, source.rankings.alexa.rank.CF, source.rankings.alexa.rank.TD, source.rankings.alexa.rank.CL, source.rankings.alexa.rank.CN, source.rankings.alexa.rank.CX, source.rankings.alexa.rank.CC, source.rankings.alexa.rank.CO, source.rankings.alexa.rank.KM, source.rankings.alexa.rank.CG, source.rankings.alexa.rank.CD, source.rankings.alexa.rank.CK, source.rankings.alexa.rank.CR, source.rankings.alexa.rank.CI, source.rankings.alexa.rank.HR, source.rankings.alexa.rank.CU, source.rankings.alexa.rank.CW, source.rankings.alexa.rank.CY, source.rankings.alexa.rank.CZ, source.rankings.alexa.rank.DK, source.rankings.alexa.rank.DJ, source.rankings.alexa.rank.DM, source.rankings.alexa.rank.DO, source.rankings.alexa.rank.EC, source.rankings.alexa.rank.EG, source.rankings.alexa.rank.SV, source.rankings.alexa.rank.GQ, source.rankings.alexa.rank.ER, source.rankings.alexa.rank.EE, source.rankings.alexa.rank.ET, source.rankings.alexa.rank.FK, source.rankings.alexa.rank.FO, source.rankings.alexa.rank.FJ, source.rankings.alexa.rank.FI, source.rankings.alexa.rank.FR, source.rankings.alexa.rank.GF, source.rankings.alexa.rank.PF, source.rankings.alexa.rank.TF, source.rankings.alexa.rank.GA, source.rankings.alexa.rank.GM, source.rankings.alexa.rank.GE, source.rankings.alexa.rank.DE, source.rankings.alexa.rank.GH, source.rankings.alexa.rank.GI, source.rankings.alexa.rank.GR, source.rankings.alexa.rank.GL, source.rankings.alexa.rank.GD, source.rankings.alexa.rank.GP, source.rankings.alexa.rank.GU, source.rankings.alexa.rank.GT, source.rankings.alexa.rank.GG, source.rankings.alexa.rank.GN, source.rankings.alexa.rank.GW, source.rankings.alexa.rank.GY, source.rankings.alexa.rank.HT, source.rankings.alexa.rank.HM, source.rankings.alexa.rank.VA, source.rankings.alexa.rank.HN, source.rankings.alexa.rank.HK, source.rankings.alexa.rank.HU, source.rankings.alexa.rank.IS, source.rankings.alexa.rank.IN, source.rankings.alexa.rank.ID, source.rankings.alexa.rank.IR, source.rankings.alexa.rank.IQ, source.rankings.alexa.rank.IE, source.rankings.alexa.rank.IM, source.rankings.alexa.rank.IL, source.rankings.alexa.rank.IT, source.rankings.alexa.rank.JM, source.rankings.alexa.rank.JP, source.rankings.alexa.rank.JE, source.rankings.alexa.rank.JO, source.rankings.alexa.rank.KZ, source.rankings.alexa.rank.KE, source.rankings.alexa.rank.KI, source.rankings.alexa.rank.KP, source.rankings.alexa.rank.KR, source.rankings.alexa.rank.KW, source.rankings.alexa.rank.KG, source.rankings.alexa.rank.LA, source.rankings.alexa.rank.LV, source.rankings.alexa.rank.LB, source.rankings.alexa.rank.LS, source.rankings.alexa.rank.LR, source.rankings.alexa.rank.LY, source.rankings.alexa.rank.LI, source.rankings.alexa.rank.LT, source.rankings.alexa.rank.LU, source.rankings.alexa.rank.MO, source.rankings.alexa.rank.MK, source.rankings.alexa.rank.MG, source.rankings.alexa.rank.MW, source.rankings.alexa.rank.MY, source.rankings.alexa.rank.MV, source.rankings.alexa.rank.ML, source.rankings.alexa.rank.MT, source.rankings.alexa.rank.MH, source.rankings.alexa.rank.MQ, source.rankings.alexa.rank.MR, source.rankings.alexa.rank.MU, source.rankings.alexa.rank.YT, source.rankings.alexa.rank.MX, source.rankings.alexa.rank.FM, source.rankings.alexa.rank.MD, source.rankings.alexa.rank.MC, source.rankings.alexa.rank.MN, source.rankings.alexa.rank.ME, source.rankings.alexa.rank.MS, source.rankings.alexa.rank.MA, source.rankings.alexa.rank.MZ, source.rankings.alexa.rank.MM, source.rankings.alexa.rank.NA, source.rankings.alexa.rank.NR, source.rankings.alexa.rank.NP, source.rankings.alexa.rank.NL, source.rankings.alexa.rank.NC, source.rankings.alexa.rank.NZ, source.rankings.alexa.rank.NI, source.rankings.alexa.rank.NE, source.rankings.alexa.rank.NG, source.rankings.alexa.rank.NU, source.rankings.alexa.rank.NF, source.rankings.alexa.rank.MP, source.rankings.alexa.rank.NO, source.rankings.alexa.rank.OM, source.rankings.alexa.rank.PK, source.rankings.alexa.rank.PW, source.rankings.alexa.rank.PS, source.rankings.alexa.rank.PA, source.rankings.alexa.rank.PG, source.rankings.alexa.rank.PY, source.rankings.alexa.rank.PE, source.rankings.alexa.rank.PH, source.rankings.alexa.rank.PN, source.rankings.alexa.rank.PL, source.rankings.alexa.rank.PT, source.rankings.alexa.rank.PR, source.rankings.alexa.rank.QA, source.rankings.alexa.rank.RE, source.rankings.alexa.rank.RO, source.rankings.alexa.rank.RU, source.rankings.alexa.rank.RW, source.rankings.alexa.rank.BL, source.rankings.alexa.rank.SH, source.rankings.alexa.rank.KN, source.rankings.alexa.rank.LC, source.rankings.alexa.rank.MF, source.rankings.alexa.rank.PM, source.rankings.alexa.rank.VC, source.rankings.alexa.rank.WS, source.rankings.alexa.rank.SM, source.rankings.alexa.rank.ST, source.rankings.alexa.rank.SA, source.rankings.alexa.rank.SN, source.rankings.alexa.rank.RS, source.rankings.alexa.rank.SC, source.rankings.alexa.rank.SL, source.rankings.alexa.rank.SG, source.rankings.alexa.rank.SX, source.rankings.alexa.rank.SK, source.rankings.alexa.rank.SI, source.rankings.alexa.rank.SB, source.rankings.alexa.rank.SO, source.rankings.alexa.rank.ZA, source.rankings.alexa.rank.GS, source.rankings.alexa.rank.SS, source.rankings.alexa.rank.ES, source.rankings.alexa.rank.LK, source.rankings.alexa.rank.SD, source.rankings.alexa.rank.SR, source.rankings.alexa.rank.SJ, source.rankings.alexa.rank.SZ, source.rankings.alexa.rank.SE, source.rankings.alexa.rank.CH, source.rankings.alexa.rank.SY, source.rankings.alexa.rank.TW, source.rankings.alexa.rank.TJ, source.rankings.alexa.rank.TZ, source.rankings.alexa.rank.TH, source.rankings.alexa.rank.TL, source.rankings.alexa.rank.TG, source.rankings.alexa.rank.TK, source.rankings.alexa.rank.TO, source.rankings.alexa.rank.TT, source.rankings.alexa.rank.TN, source.rankings.alexa.rank.TR, source.rankings.alexa.rank.TM, source.rankings.alexa.rank.TC, source.rankings.alexa.rank.TV, source.rankings.alexa.rank.UG, source.rankings.alexa.rank.UA, source.rankings.alexa.rank.AE, source.rankings.alexa.rank.GB, source.rankings.alexa.rank.US, source.rankings.alexa.rank.UM, source.rankings.alexa.rank.UY, source.rankings.alexa.rank.UZ, source.rankings.alexa.rank.VU, source.rankings.alexa.rank.VE, source.rankings.alexa.rank.VN, source.rankings.alexa.rank.VG, source.rankings.alexa.rank.VI, source.rankings.alexa.rank.WF, source.rankings.alexa.rank.EH, source.rankings.alexa.rank.YE, source.rankings.alexa.rank.ZM, source.rankings.alexa.rank.ZW]
    default: social_shares_count
    in: query
    description: >
      This parameter is used for specifying the y-axis variable for the histogram.
  cluster_id:
    name: id[]
    in: query
    description: >
      This parameter is used for finding clusters by cluster id.
    type: array
    items:
      type: integer
      format: int64
    collectionFormat: multi
  cluster_!id:
    name: "!id[]"
    in: query
    description: >
      This parameter is used for excluding clusters by cluster id.
    type: array
    items:
      type: integer
      format: int64
    collectionFormat: multi
  cluster_story_count_min:
    name: story_count.min
    in: query
    description: >
      This parameter is used for finding clusters with more than or equal to
      a specific amount of stories associated with them.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  cluster_story_count_max:
    name: story_count.max
    in: query
    description: >
      This parameter is used for finding clusters with less than or equal to
      a specific amount of stories associated with them.
    type: integer
    format: int32
    minimum: 0
    exclusiveMinimum: true
  cluster_time_start:
    name: time.start
    in: query
    description: >
      This parameter is used for finding clusters whose creation time is greater
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_time_end:
    name: time.end
    in: query
    description: >
      This parameter is used for finding clusters whose creation time is less
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_earliest_story_start:
    name: earliest_story.start
    in: query
    description: >
      This parameter is used for finding clusters whose publication date of its earliest story is greater
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_earliest_story_end:
    name: earliest_story.end
    in: query
    description: >
      This parameter is used for finding clusters whose publication date of its earliest story is less
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_latest_story_start:
    name: latest_story.start
    in: query
    description: >
      This parameter is used for finding clusters whose publication date of its latest story is greater
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_latest_story_end:
    name: latest_story.end
    in: query
    description: >
      This parameter is used for finding clusters whose publication date of its latest story is less
      than the specified value.
      [Here](https://newsapi.aylien.com/docs/working-with-dates) you can find
      more information about how
      [to work with dates](https://newsapi.aylien.com/docs/working-with-dates).
    type: string
  cluster_location_country:
    name: location.country
    in: query
    description: >
      This parameter is used for finding clusters belonging to a specific country.
      It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  cluster_!location_country:
    name: "!location.country"
    in: query
    description: >
      This parameter is used for excluding clusters belonging to a specific country.
      It supports
      [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      country codes. [Here](https://newsapi.aylien.com/docs/working-with-locations)
      you can find more information about how
      [to work with locations](https://newsapi.aylien.com/docs/working-with-locations).
    type: array
    items:
      type: string
    collectionFormat: multi
  sort_direction:
    name: sort_direction
    in: query
    type: string
    description: >
      This parameter is used for changing the order direction of the result.
      You can read about sorting results
      [here](https://newsapi.aylien.com/docs/sorting-results).
    enum: [asc, desc]
    default: "desc"
  cursor:
    name: cursor
    in: query
    description: >
      This parameter is used for finding a specific page.
      You can read more about pagination of results
      [here](https://newsapi.aylien.com/docs/pagination-of-results).
    default: '*'
    type: string
  per_page_default_3:
    name: per_page
    in: query
    description: >
      This parameter is used for specifying number of items in each page.
    minimum: 1
    maximum: 100
    default: 3
    type: integer
    format: int32
  per_page:
    name: per_page
    in: query
    description: >
      This parameter is used for specifying number of items in each page
      You can read more about pagination of results
      [here](https://newsapi.aylien.com/docs/pagination-of-results)
    minimum: 1
    maximum: 100
    default: 10
    type: integer
    format: int32
responses:
  stories:
    description: An object including an array of stories
    schema:
      $ref: '#/definitions/Stories'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Reset:
        description: >
          The remaining window before the rate limit resets
          in UTC [epoch seconds](https://en.wikipedia.org/wiki/Unix_time).
        type: integer
        format: int64
  related_stories:
    description: An object including an array of related stories
    schema:
      $ref: '#/definitions/RelatedStories'
    headers:
      X-RateLimit-Limit:
        description: The number of allowed requests in the current period.
        type: integer
        format: int32
      X-RateLimit-Remaining:
        description: The number of remaining requests in the current period.
        type: integer
        format: int32
[...]
