# don't forget to update api-docs.yaml as well
info:
  contact:
    email: support@aylien.com
    name: API support
    url: https://newsapi.aylien.com/
  description: >
    The AYLIEN News API is the most powerful way of sourcing, searching and
    syndicating analyzed and enriched news content. It is accessed by sending
    HTTP requests to our server, which returns information to your client.
  termsOfService: https://newsapi.aylien.com/tos
  title: AYLIEN News API
  version: "3.0"
openapi: 3.0.1
servers:
  - url: https://api.aylien.com/news
x-group-parameters: true
tags:
  - name: autocomplete
  - name: cluster
  - name: histogram
  - name: story
  - name: time_series
  - name: trends
  - name: related_story
paths:
  /autocompletes:
    get:
      tags:
        - autocomplete
      description: >
        The autocompletes endpoint a string of characters provided to it, and
        then returns suggested terms that are the most likely full words or
        strings. The terms returned by the News API are based on parameters the
        type parameters you can see below. For example, if you provide the
        autocompletes endpoint with the term `New York C` and select the type
        `dbpedia_resources`, the API will return links to the DBpedia resources
        `New_York_City`, `New_York_City_Subway`,
        `New_York_City_Police_Department`, and so on.
      operationId: listAutocompletes
      parameters:
        - description: |
            This parameter is used for defining the type of autocompletes.
          example: source_names
          in: query
          name: type
          required: true
          schema:
            enum:
              - source_names
              - source_domains
              - entity_types
              - dbpedia_resources
              - aylien_entities_names
              - aylien_entities_types
            type: string
        - description: >
            This parameter is used for finding autocomplete objects that contain
            the specified value.
          example: News
          in: query
          name: term
          required: true
          schema:
            minLength: 1
            type: string
        - description: >
            This parameter is used for autocompletes whose language is the
            specified value. It supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          in: query
          name: language
          schema:
            default: en
            enum:
              - en
              - de
              - fr
              - it
              - es
              - pt
            nullable: true
            type: string
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Autocompletes"
            text/xml:
              schema:
                $ref: "#/components/schemas/Autocompletes"
          description: An object including an array of autocompletes
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
      summary: List autocompletes
  /clusters:
    get:
      tags:
        - cluster
      description: >
        The clusters endpoint is used to return clusters based on parameters you
        set in your query.
      operationId: listClusters
      parameters:
        - description: |
            This parameter is used for finding clusters by cluster id.
          explode: true
          in: query
          name: id[]
          schema:
            items:
              format: int64
              type: integer
            nullable: true
            type: array
          style: form
        - description: |
            This parameter is used for excluding clusters by cluster id.
          explode: true
          in: query
          name: "!id[]"
          schema:
            items:
              format: int64
              type: integer
            nullable: true
            type: array
          style: form
        - description: >
            This parameter is used for finding clusters with more than or equal
            to a specific amount of stories associated with them.
          in: query
          name: story_count.min
          schema:
            exclusiveMinimum: true
            format: int32
            minimum: 0
            nullable: true
            type: integer
        - description: >
            This parameter is used for finding clusters with less than or equal
            to a specific amount of stories associated with them.
          in: query
          name: story_count.max
          schema:
            exclusiveMinimum: true
            format: int32
            minimum: 0
            nullable: true
            type: integer
        - description: >
            This parameter is used for finding clusters whose creation time is
            greater than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: time.start
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters whose creation time is
            less than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: time.end
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters whose publication date
            of its earliest story is greater than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: earliest_story.start
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters whose publication date
            of its earliest story is less than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: earliest_story.end
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters whose publication date
            of its latest story is greater than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: latest_story.start
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters whose publication date
            of its latest story is less than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          in: query
          name: latest_story.end
          schema:
            nullable: true
            type: string
        - description: >
            This parameter is used for finding clusters belonging to a specific
            country. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          explode: true
          in: query
          name: location.country
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
        - description: >
            This parameter is used for excluding clusters belonging to a
            specific country. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          explode: true
          in: query
          name: "!location.country"
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
        - description: This parameter is used for specifying return fields.
          explode: true
          in: query
          name: return[]
          schema:
            items:
              enum:
                - id
                - time
                - summary
                - category
                - story_count
                - earliest_story
                - latest_story
                - representative_story
                - location_country
              type: string
            nullable: true
            type: array
          style: form
        - description: >
            This parameter is used for changing the order column of the results.
            You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_by
          schema:
            default: published_at
            enum:
              - time
              - story_count
              - earliest_story
              - latest_story
            nullable: true
            type: string
        - description: >
            This parameter is used for changing the order direction of the
            result. You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_direction
          schema:
            default: desc
            enum:
              - asc
              - desc
            nullable: true
            type: string
        - description: >
            This parameter is used for finding a specific page. You can read
            more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results).
          in: query
          name: cursor
          schema:
            default: "*"
            nullable: true
            type: string
        - description: >
            This parameter is used for specifying number of items in each page
            You can read more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results)
          in: query
          name: per_page
          schema:
            default: 10
            format: int32
            maximum: 100
            minimum: 1
            nullable: true
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/clusters"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
      summary: List Clusters
  /histograms:
    get:
      tags:
        - histogram
      description: >
        For the numerical metadata that the News API gathers (such as word
        counts or social shares for example), you can use the histograms
        endpoint to access and display this information. As this endpoint does
        not return actual stories, the results you are given will not count
        towards your story allowance provided by your subscription, so you can
        effectively query this endpoint free of charge.
      operationId: listHistograms
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/notid"
        - $ref: "#/components/parameters/title"
        - $ref: "#/components/parameters/body"
        - $ref: "#/components/parameters/text"
        - $ref: "#/components/parameters/translations_en_title"
        - $ref: "#/components/parameters/translations_en_body"
        - $ref: "#/components/parameters/translations_en_text"
        - $ref: "#/components/parameters/links_permalink"
        - $ref: "#/components/parameters/notlinks_permalink"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/notlanguage"
        - $ref: "#/components/parameters/published_at_start"
        - $ref: "#/components/parameters/published_at_end"
        - $ref: "#/components/parameters/categories_taxonomy"
        - $ref: "#/components/parameters/categories_confident"
        - $ref: "#/components/parameters/categories_id"
        - $ref: "#/components/parameters/notcategories_id"
        - $ref: "#/components/parameters/categories_label"
        - $ref: "#/components/parameters/notcategories_label"
        - $ref: "#/components/parameters/categories_level"
        - $ref: "#/components/parameters/notcategories_level"
        - $ref: "#/components/parameters/entities_id"
        - $ref: "#/components/parameters/notentities_id"
        - $ref: "#/components/parameters/entities_links_wikipedia"
        - $ref: "#/components/parameters/notentities_links_wikipedia"
        - $ref: "#/components/parameters/entities_links_wikidata"
        - $ref: "#/components/parameters/notentities_links_wikidata"
        - $ref: "#/components/parameters/entities_types"
        - $ref: "#/components/parameters/notentities_types"
        - $ref: "#/components/parameters/entities_stock_tickers"
        - $ref: "#/components/parameters/notentities_stock_tickers"
        - $ref: "#/components/parameters/entities_surface_forms_text"
        - $ref: "#/components/parameters/notentities_surface_forms_text"
        - $ref: "#/components/parameters/entities_title_id"
        - $ref: "#/components/parameters/notentities_title_id"
        - $ref: "#/components/parameters/entities_title_surface_forms_text"
        - $ref: "#/components/parameters/notentities_title_surface_forms_text"
        - $ref: "#/components/parameters/entities_title_text"
        - $ref: "#/components/parameters/notentities_title_text"
        - $ref: "#/components/parameters/entities_title_type"
        - $ref: "#/components/parameters/notentities_title_type"
        - $ref: "#/components/parameters/entities_title_stock_ticker"
        - $ref: "#/components/parameters/notentities_title_stock_ticker"
        - $ref: "#/components/parameters/entities_title_links_dbpedia"
        - $ref: "#/components/parameters/notentities_title_links_dbpedia"
        - $ref: "#/components/parameters/entities_title_links_wikipedia"
        - $ref: "#/components/parameters/notentities_title_links_wikipedia"
        - $ref: "#/components/parameters/entities_title_links_wikidata"
        - $ref: "#/components/parameters/notentities_title_links_wikidata"
        - $ref: "#/components/parameters/entities_body_id"
        - $ref: "#/components/parameters/notentities_body_id"
        - $ref: "#/components/parameters/entities_body_surface_forms_text"
        - $ref: "#/components/parameters/notentities_body_surface_forms_text"
        - $ref: "#/components/parameters/entities_body_text"
        - $ref: "#/components/parameters/notentities_body_text"
        - $ref: "#/components/parameters/entities_body_type"
        - $ref: "#/components/parameters/notentities_body_type"
        - $ref: "#/components/parameters/entities_body_stock_ticker"
        - $ref: "#/components/parameters/notentities_body_stock_ticker"
        - $ref: "#/components/parameters/entities_body_links_dbpedia"
        - $ref: "#/components/parameters/notentities_body_links_dbpedia"
        - $ref: "#/components/parameters/entities_body_links_wikipedia"
        - $ref: "#/components/parameters/notentities_body_links_wikipedia"
        - $ref: "#/components/parameters/entities_body_links_wikidata"
        - $ref: "#/components/parameters/notentities_body_links_wikidata"
        - $ref: "#/components/parameters/sentiment_title_polarity"
        - $ref: "#/components/parameters/notsentiment_title_polarity"
        - $ref: "#/components/parameters/sentiment_body_polarity"
        - $ref: "#/components/parameters/notsentiment_body_polarity"
        - $ref: "#/components/parameters/media_images_count_min"
        - $ref: "#/components/parameters/media_images_count_max"
        - $ref: "#/components/parameters/media_images_width_min"
        - $ref: "#/components/parameters/media_images_width_max"
        - $ref: "#/components/parameters/media_images_height_min"
        - $ref: "#/components/parameters/media_images_height_max"
        - $ref: "#/components/parameters/media_images_content_length_min"
        - $ref: "#/components/parameters/media_images_content_length_max"
        - $ref: "#/components/parameters/media_images_format"
        - $ref: "#/components/parameters/notmedia_images_format"
        - $ref: "#/components/parameters/media_videos_count_min"
        - $ref: "#/components/parameters/media_videos_count_max"
        - $ref: "#/components/parameters/author_id"
        - $ref: "#/components/parameters/notauthor_id"
        - $ref: "#/components/parameters/author_name"
        - $ref: "#/components/parameters/notauthor_name"
        - $ref: "#/components/parameters/source_id"
        - $ref: "#/components/parameters/notsource_id"
        - $ref: "#/components/parameters/source_name"
        - $ref: "#/components/parameters/notsource_name"
        - $ref: "#/components/parameters/source_domain"
        - $ref: "#/components/parameters/notsource_domain"
        - $ref: "#/components/parameters/source_locations_country"
        - $ref: "#/components/parameters/notsource_locations_country"
        - $ref: "#/components/parameters/source_locations_state"
        - $ref: "#/components/parameters/notsource_locations_state"
        - $ref: "#/components/parameters/source_locations_city"
        - $ref: "#/components/parameters/notsource_locations_city"
        - $ref: "#/components/parameters/source_scopes_country"
        - $ref: "#/components/parameters/notsource_scopes_country"
        - $ref: "#/components/parameters/source_scopes_state"
        - $ref: "#/components/parameters/notsource_scopes_state"
        - $ref: "#/components/parameters/source_scopes_city"
        - $ref: "#/components/parameters/notsource_scopes_city"
        - $ref: "#/components/parameters/source_scopes_level"
        - $ref: "#/components/parameters/notsource_scopes_level"
        - $ref: "#/components/parameters/source_links_in_count_min"
        - $ref: "#/components/parameters/source_links_in_count_max"
        - $ref: "#/components/parameters/source_rankings_alexa_rank_min"
        - $ref: "#/components/parameters/source_rankings_alexa_rank_max"
        - $ref: "#/components/parameters/source_rankings_alexa_country"
        - $ref: "#/components/parameters/social_shares_count_facebook_min"
        - $ref: "#/components/parameters/social_shares_count_facebook_max"
        - $ref: "#/components/parameters/social_shares_count_google_plus_min"
        - $ref: "#/components/parameters/social_shares_count_google_plus_max"
        - $ref: "#/components/parameters/social_shares_count_linkedin_min"
        - $ref: "#/components/parameters/social_shares_count_linkedin_max"
        - $ref: "#/components/parameters/social_shares_count_reddit_min"
        - $ref: "#/components/parameters/social_shares_count_reddit_max"
        - $ref: "#/components/parameters/clusters"
        - $ref: "#/components/parameters/aql"
        - $ref: "#/components/parameters/aql_default_field"
        - $ref: "#/components/parameters/query"
        - description: >
            This parameter is used for setting the start data point of histogram
            intervals.
          in: query
          name: interval.start
          schema:
            format: int32
            nullable: true
            type: integer
        - description: >
            This parameter is used for setting the end data point of histogram
            intervals.
          in: query
          name: interval.end
          schema:
            format: int32
            nullable: true
            type: integer
        - description: |
            This parameter is used for setting the width of histogram intervals.
          in: query
          name: interval.width
          schema:
            format: int32
            nullable: true
            type: integer
        - description: >
            This parameter is used for specifying the y-axis variable for the
            histogram.
          in: query
          name: field
          schema:
            default: social_shares_count
            enum:
              - social_shares_count
              - social_shares_count.facebook
              - social_shares_count.linkedin
              - social_shares_count.reddit
              - social_shares_count.google_plus
              - characters_count
              - words_count
              - sentences_count
              - paragraphs_count
              - media.images.count
              - media.videos.count
              - source.links_in_count
              - source.rankings.alexa.rank
              - source.rankings.alexa.rank.AF
              - source.rankings.alexa.rank.AX
              - source.rankings.alexa.rank.AL
              - source.rankings.alexa.rank.DZ
              - source.rankings.alexa.rank.AS
              - source.rankings.alexa.rank.AD
              - source.rankings.alexa.rank.AO
              - source.rankings.alexa.rank.AI
              - source.rankings.alexa.rank.AQ
              - source.rankings.alexa.rank.AG
              - source.rankings.alexa.rank.AR
              - source.rankings.alexa.rank.AM
              - source.rankings.alexa.rank.AW
              - source.rankings.alexa.rank.AU
              - source.rankings.alexa.rank.AT
              - source.rankings.alexa.rank.AZ
              - source.rankings.alexa.rank.BS
              - source.rankings.alexa.rank.BH
              - source.rankings.alexa.rank.BD
              - source.rankings.alexa.rank.BB
              - source.rankings.alexa.rank.BY
              - source.rankings.alexa.rank.BE
              - source.rankings.alexa.rank.BZ
              - source.rankings.alexa.rank.BJ
              - source.rankings.alexa.rank.BM
              - source.rankings.alexa.rank.BT
              - source.rankings.alexa.rank.BO
              - source.rankings.alexa.rank.BQ
              - source.rankings.alexa.rank.BA
              - source.rankings.alexa.rank.BW
              - source.rankings.alexa.rank.BV
              - source.rankings.alexa.rank.BR
              - source.rankings.alexa.rank.IO
              - source.rankings.alexa.rank.BN
              - source.rankings.alexa.rank.BG
              - source.rankings.alexa.rank.BF
              - source.rankings.alexa.rank.BI
              - source.rankings.alexa.rank.KH
              - source.rankings.alexa.rank.CM
              - source.rankings.alexa.rank.CA
              - source.rankings.alexa.rank.CV
              - source.rankings.alexa.rank.KY
              - source.rankings.alexa.rank.CF
              - source.rankings.alexa.rank.TD
              - source.rankings.alexa.rank.CL
              - source.rankings.alexa.rank.CN
              - source.rankings.alexa.rank.CX
              - source.rankings.alexa.rank.CC
              - source.rankings.alexa.rank.CO
              - source.rankings.alexa.rank.KM
              - source.rankings.alexa.rank.CG
              - source.rankings.alexa.rank.CD
              - source.rankings.alexa.rank.CK
              - source.rankings.alexa.rank.CR
              - source.rankings.alexa.rank.CI
              - source.rankings.alexa.rank.HR
              - source.rankings.alexa.rank.CU
              - source.rankings.alexa.rank.CW
              - source.rankings.alexa.rank.CY
              - source.rankings.alexa.rank.CZ
              - source.rankings.alexa.rank.DK
              - source.rankings.alexa.rank.DJ
              - source.rankings.alexa.rank.DM
              - source.rankings.alexa.rank.DO
              - source.rankings.alexa.rank.EC
              - source.rankings.alexa.rank.EG
              - source.rankings.alexa.rank.SV
              - source.rankings.alexa.rank.GQ
              - source.rankings.alexa.rank.ER
              - source.rankings.alexa.rank.EE
              - source.rankings.alexa.rank.ET
              - source.rankings.alexa.rank.FK
              - source.rankings.alexa.rank.FO
              - source.rankings.alexa.rank.FJ
              - source.rankings.alexa.rank.FI
              - source.rankings.alexa.rank.FR
              - source.rankings.alexa.rank.GF
              - source.rankings.alexa.rank.PF
              - source.rankings.alexa.rank.TF
              - source.rankings.alexa.rank.GA
              - source.rankings.alexa.rank.GM
              - source.rankings.alexa.rank.GE
              - source.rankings.alexa.rank.DE
              - source.rankings.alexa.rank.GH
              - source.rankings.alexa.rank.GI
              - source.rankings.alexa.rank.GR
              - source.rankings.alexa.rank.GL
              - source.rankings.alexa.rank.GD
              - source.rankings.alexa.rank.GP
              - source.rankings.alexa.rank.GU
              - source.rankings.alexa.rank.GT
              - source.rankings.alexa.rank.GG
              - source.rankings.alexa.rank.GN
              - source.rankings.alexa.rank.GW
              - source.rankings.alexa.rank.GY
              - source.rankings.alexa.rank.HT
              - source.rankings.alexa.rank.HM
              - source.rankings.alexa.rank.VA
              - source.rankings.alexa.rank.HN
              - source.rankings.alexa.rank.HK
              - source.rankings.alexa.rank.HU
              - source.rankings.alexa.rank.IS
              - source.rankings.alexa.rank.IN
              - source.rankings.alexa.rank.ID
              - source.rankings.alexa.rank.IR
              - source.rankings.alexa.rank.IQ
              - source.rankings.alexa.rank.IE
              - source.rankings.alexa.rank.IM
              - source.rankings.alexa.rank.IL
              - source.rankings.alexa.rank.IT
              - source.rankings.alexa.rank.JM
              - source.rankings.alexa.rank.JP
              - source.rankings.alexa.rank.JE
              - source.rankings.alexa.rank.JO
              - source.rankings.alexa.rank.KZ
              - source.rankings.alexa.rank.KE
              - source.rankings.alexa.rank.KI
              - source.rankings.alexa.rank.KP
              - source.rankings.alexa.rank.KR
              - source.rankings.alexa.rank.KW
              - source.rankings.alexa.rank.KG
              - source.rankings.alexa.rank.LA
              - source.rankings.alexa.rank.LV
              - source.rankings.alexa.rank.LB
              - source.rankings.alexa.rank.LS
              - source.rankings.alexa.rank.LR
              - source.rankings.alexa.rank.LY
              - source.rankings.alexa.rank.LI
              - source.rankings.alexa.rank.LT
              - source.rankings.alexa.rank.LU
              - source.rankings.alexa.rank.MO
              - source.rankings.alexa.rank.MK
              - source.rankings.alexa.rank.MG
              - source.rankings.alexa.rank.MW
              - source.rankings.alexa.rank.MY
              - source.rankings.alexa.rank.MV
              - source.rankings.alexa.rank.ML
              - source.rankings.alexa.rank.MT
              - source.rankings.alexa.rank.MH
              - source.rankings.alexa.rank.MQ
              - source.rankings.alexa.rank.MR
              - source.rankings.alexa.rank.MU
              - source.rankings.alexa.rank.YT
              - source.rankings.alexa.rank.MX
              - source.rankings.alexa.rank.FM
              - source.rankings.alexa.rank.MD
              - source.rankings.alexa.rank.MC
              - source.rankings.alexa.rank.MN
              - source.rankings.alexa.rank.ME
              - source.rankings.alexa.rank.MS
              - source.rankings.alexa.rank.MA
              - source.rankings.alexa.rank.MZ
              - source.rankings.alexa.rank.MM
              - source.rankings.alexa.rank.NA
              - source.rankings.alexa.rank.NR
              - source.rankings.alexa.rank.NP
              - source.rankings.alexa.rank.NL
              - source.rankings.alexa.rank.NC
              - source.rankings.alexa.rank.NZ
              - source.rankings.alexa.rank.NI
              - source.rankings.alexa.rank.NE
              - source.rankings.alexa.rank.NG
              - source.rankings.alexa.rank.NU
              - source.rankings.alexa.rank.NF
              - source.rankings.alexa.rank.MP
              - source.rankings.alexa.rank.NO
              - source.rankings.alexa.rank.OM
              - source.rankings.alexa.rank.PK
              - source.rankings.alexa.rank.PW
              - source.rankings.alexa.rank.PS
              - source.rankings.alexa.rank.PA
              - source.rankings.alexa.rank.PG
              - source.rankings.alexa.rank.PY
              - source.rankings.alexa.rank.PE
              - source.rankings.alexa.rank.PH
              - source.rankings.alexa.rank.PN
              - source.rankings.alexa.rank.PL
              - source.rankings.alexa.rank.PT
              - source.rankings.alexa.rank.PR
              - source.rankings.alexa.rank.QA
              - source.rankings.alexa.rank.RE
              - source.rankings.alexa.rank.RO
              - source.rankings.alexa.rank.RU
              - source.rankings.alexa.rank.RW
              - source.rankings.alexa.rank.BL
              - source.rankings.alexa.rank.SH
              - source.rankings.alexa.rank.KN
              - source.rankings.alexa.rank.LC
              - source.rankings.alexa.rank.MF
              - source.rankings.alexa.rank.PM
              - source.rankings.alexa.rank.VC
              - source.rankings.alexa.rank.WS
              - source.rankings.alexa.rank.SM
              - source.rankings.alexa.rank.ST
              - source.rankings.alexa.rank.SA
              - source.rankings.alexa.rank.SN
              - source.rankings.alexa.rank.RS
              - source.rankings.alexa.rank.SC
              - source.rankings.alexa.rank.SL
              - source.rankings.alexa.rank.SG
              - source.rankings.alexa.rank.SX
              - source.rankings.alexa.rank.SK
              - source.rankings.alexa.rank.SI
              - source.rankings.alexa.rank.SB
              - source.rankings.alexa.rank.SO
              - source.rankings.alexa.rank.ZA
              - source.rankings.alexa.rank.GS
              - source.rankings.alexa.rank.SS
              - source.rankings.alexa.rank.ES
              - source.rankings.alexa.rank.LK
              - source.rankings.alexa.rank.SD
              - source.rankings.alexa.rank.SR
              - source.rankings.alexa.rank.SJ
              - source.rankings.alexa.rank.SZ
              - source.rankings.alexa.rank.SE
              - source.rankings.alexa.rank.CH
              - source.rankings.alexa.rank.SY
              - source.rankings.alexa.rank.TW
              - source.rankings.alexa.rank.TJ
              - source.rankings.alexa.rank.TZ
              - source.rankings.alexa.rank.TH
              - source.rankings.alexa.rank.TL
              - source.rankings.alexa.rank.TG
              - source.rankings.alexa.rank.TK
              - source.rankings.alexa.rank.TO
              - source.rankings.alexa.rank.TT
              - source.rankings.alexa.rank.TN
              - source.rankings.alexa.rank.TR
              - source.rankings.alexa.rank.TM
              - source.rankings.alexa.rank.TC
              - source.rankings.alexa.rank.TV
              - source.rankings.alexa.rank.UG
              - source.rankings.alexa.rank.UA
              - source.rankings.alexa.rank.AE
              - source.rankings.alexa.rank.GB
              - source.rankings.alexa.rank.US
              - source.rankings.alexa.rank.UM
              - source.rankings.alexa.rank.UY
              - source.rankings.alexa.rank.UZ
              - source.rankings.alexa.rank.VU
              - source.rankings.alexa.rank.VE
              - source.rankings.alexa.rank.VN
              - source.rankings.alexa.rank.VG
              - source.rankings.alexa.rank.VI
              - source.rankings.alexa.rank.WF
              - source.rankings.alexa.rank.EH
              - source.rankings.alexa.rank.YE
              - source.rankings.alexa.rank.ZM
              - source.rankings.alexa.rank.ZW
            nullable: true
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Histograms"
            text/xml:
              schema:
                $ref: "#/components/schemas/Histograms"
          description: An object including an array of the histogram intervals
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
      summary: List histograms
  /related_stories:
    description: >
      This endpoint is used for finding semantically similar stories based on
      the parameters you provide as inputs. For example, if you want to find
      stories similar to a Tweet or any text extract you input, the related
      stories endpoint will analyze the entities present and the meaning of
      the text, and find stories with a similar meaning. The maximum number of
      related stories returned is 100.
    summary: List related stories
    parameters:
      - $ref: "#/components/parameters/id"
      - $ref: "#/components/parameters/notid"
      - $ref: "#/components/parameters/title"
      - $ref: "#/components/parameters/body"
      - $ref: "#/components/parameters/text"
      - $ref: "#/components/parameters/translations_en_title"
      - $ref: "#/components/parameters/translations_en_body"
      - $ref: "#/components/parameters/translations_en_text"
      - $ref: "#/components/parameters/links_permalink"
      - $ref: "#/components/parameters/notlinks_permalink"
      - $ref: "#/components/parameters/language"
      - $ref: "#/components/parameters/notlanguage"
      - $ref: "#/components/parameters/published_at_start"
      - $ref: "#/components/parameters/published_at_end"
      - $ref: "#/components/parameters/categories_taxonomy"
      - $ref: "#/components/parameters/categories_confident"
      - $ref: "#/components/parameters/categories_id"
      - $ref: "#/components/parameters/notcategories_id"
      - $ref: "#/components/parameters/categories_label"
      - $ref: "#/components/parameters/notcategories_label"
      - $ref: "#/components/parameters/categories_level"
      - $ref: "#/components/parameters/notcategories_level"
      - $ref: "#/components/parameters/entities_id"
      - $ref: "#/components/parameters/notentities_id"
      - $ref: "#/components/parameters/entities_links_wikipedia"
      - $ref: "#/components/parameters/notentities_links_wikipedia"
      - $ref: "#/components/parameters/entities_links_wikidata"
      - $ref: "#/components/parameters/notentities_links_wikidata"
      - $ref: "#/components/parameters/entities_types"
      - $ref: "#/components/parameters/notentities_types"
      - $ref: "#/components/parameters/entities_stock_tickers"
      - $ref: "#/components/parameters/notentities_stock_tickers"
      - $ref: "#/components/parameters/entities_surface_forms_text"
      - $ref: "#/components/parameters/notentities_surface_forms_text"
      - $ref: "#/components/parameters/entities_title_id"
      - $ref: "#/components/parameters/notentities_title_id"
      - $ref: "#/components/parameters/entities_title_surface_forms_text"
      - $ref: "#/components/parameters/notentities_title_surface_forms_text"
      - $ref: "#/components/parameters/entities_title_text"
      - $ref: "#/components/parameters/notentities_title_text"
      - $ref: "#/components/parameters/entities_title_type"
      - $ref: "#/components/parameters/notentities_title_type"
      - $ref: "#/components/parameters/entities_title_stock_ticker"
      - $ref: "#/components/parameters/notentities_title_stock_ticker"
      - $ref: "#/components/parameters/entities_title_links_dbpedia"
      - $ref: "#/components/parameters/notentities_title_links_dbpedia"
      - $ref: "#/components/parameters/entities_title_links_wikipedia"
      - $ref: "#/components/parameters/notentities_title_links_wikipedia"
      - $ref: "#/components/parameters/entities_title_links_wikidata"
      - $ref: "#/components/parameters/notentities_title_links_wikidata"
      - $ref: "#/components/parameters/entities_body_id"
      - $ref: "#/components/parameters/notentities_body_id"
      - $ref: "#/components/parameters/entities_body_surface_forms_text"
      - $ref: "#/components/parameters/notentities_body_surface_forms_text"
      - $ref: "#/components/parameters/entities_body_text"
      - $ref: "#/components/parameters/notentities_body_text"
      - $ref: "#/components/parameters/entities_body_type"
      - $ref: "#/components/parameters/notentities_body_type"
      - $ref: "#/components/parameters/entities_body_stock_ticker"
      - $ref: "#/components/parameters/notentities_body_stock_ticker"
      - $ref: "#/components/parameters/entities_body_links_dbpedia"
      - $ref: "#/components/parameters/notentities_body_links_dbpedia"
      - $ref: "#/components/parameters/entities_body_links_wikipedia"
      - $ref: "#/components/parameters/notentities_body_links_wikipedia"
      - $ref: "#/components/parameters/entities_body_links_wikidata"
      - $ref: "#/components/parameters/notentities_body_links_wikidata"
      - $ref: "#/components/parameters/sentiment_title_polarity"
      - $ref: "#/components/parameters/notsentiment_title_polarity"
      - $ref: "#/components/parameters/sentiment_body_polarity"
      - $ref: "#/components/parameters/notsentiment_body_polarity"
      - $ref: "#/components/parameters/media_images_count_min"
      - $ref: "#/components/parameters/media_images_count_max"
      - $ref: "#/components/parameters/media_images_width_min"
      - $ref: "#/components/parameters/media_images_width_max"
      - $ref: "#/components/parameters/media_images_height_min"
      - $ref: "#/components/parameters/media_images_height_max"
      - $ref: "#/components/parameters/media_images_content_length_min"
      - $ref: "#/components/parameters/media_images_content_length_max"
      - $ref: "#/components/parameters/media_images_format"
      - $ref: "#/components/parameters/notmedia_images_format"
      - $ref: "#/components/parameters/media_videos_count_min"
      - $ref: "#/components/parameters/media_videos_count_max"
      - $ref: "#/components/parameters/author_id"
      - $ref: "#/components/parameters/notauthor_id"
      - $ref: "#/components/parameters/author_name"
      - $ref: "#/components/parameters/notauthor_name"
      - $ref: "#/components/parameters/source_id"
      - $ref: "#/components/parameters/notsource_id"
      - $ref: "#/components/parameters/source_name"
      - $ref: "#/components/parameters/notsource_name"
      - $ref: "#/components/parameters/source_domain"
      - $ref: "#/components/parameters/notsource_domain"
      - $ref: "#/components/parameters/source_locations_country"
      - $ref: "#/components/parameters/notsource_locations_country"
      - $ref: "#/components/parameters/source_locations_state"
      - $ref: "#/components/parameters/notsource_locations_state"
      - $ref: "#/components/parameters/source_locations_city"
      - $ref: "#/components/parameters/notsource_locations_city"
      - $ref: "#/components/parameters/source_scopes_country"
      - $ref: "#/components/parameters/notsource_scopes_country"
      - $ref: "#/components/parameters/source_scopes_state"
      - $ref: "#/components/parameters/notsource_scopes_state"
      - $ref: "#/components/parameters/source_scopes_city"
      - $ref: "#/components/parameters/notsource_scopes_city"
      - $ref: "#/components/parameters/source_scopes_level"
      - $ref: "#/components/parameters/notsource_scopes_level"
      - $ref: "#/components/parameters/source_links_in_count_min"
      - $ref: "#/components/parameters/source_links_in_count_max"
      - $ref: "#/components/parameters/source_rankings_alexa_rank_min"
      - $ref: "#/components/parameters/source_rankings_alexa_rank_max"
      - $ref: "#/components/parameters/source_rankings_alexa_country"
      - $ref: "#/components/parameters/social_shares_count_facebook_min"
      - $ref: "#/components/parameters/social_shares_count_facebook_max"
      - $ref: "#/components/parameters/social_shares_count_google_plus_min"
      - $ref: "#/components/parameters/social_shares_count_google_plus_max"
      - $ref: "#/components/parameters/social_shares_count_linkedin_min"
      - $ref: "#/components/parameters/social_shares_count_linkedin_max"
      - $ref: "#/components/parameters/social_shares_count_reddit_min"
      - $ref: "#/components/parameters/social_shares_count_reddit_max"
      - $ref: "#/components/parameters/clusters"
      - $ref: "#/components/parameters/return"
      - $ref: "#/components/parameters/story_id"
      - $ref: "#/components/parameters/story_url"
      - $ref: "#/components/parameters/story_title"
      - $ref: "#/components/parameters/story_body"
      - $ref: "#/components/parameters/aql"
      - $ref: "#/components/parameters/aql_default_field"
      - $ref: "#/components/parameters/query"
      - description: >
          This parameter is used for boosting the result by the specified
          value.
        in: query
        name: boost_by
        schema:
          enum:
            - recency
            - popularity
          nullable: true
          type: string
      - $ref: "#/components/parameters/story_language"
      - $ref: "#/components/parameters/per_page"
    post:
      tags:
        - related_story
      operationId: listRelatedStoriesPost
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RelatedStories"
                  - $ref: "#/components/schemas/DeprecatedRelatedStories"
            text/xml:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RelatedStories"
                  - $ref: "#/components/schemas/DeprecatedRelatedStories"
          description: An object including an array of related stories
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
    get:
      tags:
        - related_story
      operationId: listRelatedStoriesGet
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RelatedStories"
                  - $ref: "#/components/schemas/DeprecatedRelatedStories"
            text/xml:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RelatedStories"
                  - $ref: "#/components/schemas/DeprecatedRelatedStories"
          description: An object including an array of related stories
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
  /stories:
    get:
      tags:
        - story
      description: >
        The stories endpoint is used to return stories based on parameters you
        set in your query. The News API crawler gathers articles in near
        real-time and stores information about them, or metadata. Below you can
        see all of the query parameters, which you can use to narrow down your
        query.
      operationId: listStories
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/notid"
        - $ref: "#/components/parameters/title"
        - $ref: "#/components/parameters/body"
        - $ref: "#/components/parameters/text"
        - $ref: "#/components/parameters/translations_en_title"
        - $ref: "#/components/parameters/translations_en_body"
        - $ref: "#/components/parameters/translations_en_text"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/notlanguage"
        - $ref: "#/components/parameters/links_permalink"
        - $ref: "#/components/parameters/notlinks_permalink"
        - $ref: "#/components/parameters/published_at_start"
        - $ref: "#/components/parameters/published_at_end"
        - $ref: "#/components/parameters/categories_taxonomy"
        - $ref: "#/components/parameters/categories_confident"
        - $ref: "#/components/parameters/categories_id"
        - $ref: "#/components/parameters/notcategories_id"
        - $ref: "#/components/parameters/categories_label"
        - $ref: "#/components/parameters/notcategories_label"
        - $ref: "#/components/parameters/categories_level"
        - $ref: "#/components/parameters/notcategories_level"
        - $ref: "#/components/parameters/entities_id"
        - $ref: "#/components/parameters/notentities_id"
        - $ref: "#/components/parameters/entities_links_wikipedia"
        - $ref: "#/components/parameters/notentities_links_wikipedia"
        - $ref: "#/components/parameters/entities_links_wikidata"
        - $ref: "#/components/parameters/notentities_links_wikidata"
        - $ref: "#/components/parameters/entities_types"
        - $ref: "#/components/parameters/notentities_types"
        - $ref: "#/components/parameters/entities_stock_tickers"
        - $ref: "#/components/parameters/notentities_stock_tickers"
        - $ref: "#/components/parameters/entities_surface_forms_text"
        - $ref: "#/components/parameters/notentities_surface_forms_text"
        - $ref: "#/components/parameters/entities_title_id"
        - $ref: "#/components/parameters/notentities_title_id"
        - $ref: "#/components/parameters/entities_title_surface_forms_text"
        - $ref: "#/components/parameters/notentities_title_surface_forms_text"
        - $ref: "#/components/parameters/entities_title_text"
        - $ref: "#/components/parameters/notentities_title_text"
        - $ref: "#/components/parameters/entities_title_type"
        - $ref: "#/components/parameters/notentities_title_type"
        - $ref: "#/components/parameters/entities_title_stock_ticker"
        - $ref: "#/components/parameters/notentities_title_stock_ticker"
        - $ref: "#/components/parameters/entities_title_links_dbpedia"
        - $ref: "#/components/parameters/notentities_title_links_dbpedia"
        - $ref: "#/components/parameters/entities_title_links_wikipedia"
        - $ref: "#/components/parameters/notentities_title_links_wikipedia"
        - $ref: "#/components/parameters/entities_title_links_wikidata"
        - $ref: "#/components/parameters/notentities_title_links_wikidata"
        - $ref: "#/components/parameters/entities_body_id"
        - $ref: "#/components/parameters/notentities_body_id"
        - $ref: "#/components/parameters/entities_body_surface_forms_text"
        - $ref: "#/components/parameters/notentities_body_surface_forms_text"
        - $ref: "#/components/parameters/entities_body_text"
        - $ref: "#/components/parameters/notentities_body_text"
        - $ref: "#/components/parameters/entities_body_type"
        - $ref: "#/components/parameters/notentities_body_type"
        - $ref: "#/components/parameters/entities_body_stock_ticker"
        - $ref: "#/components/parameters/notentities_body_stock_ticker"
        - $ref: "#/components/parameters/entities_body_links_dbpedia"
        - $ref: "#/components/parameters/notentities_body_links_dbpedia"
        - $ref: "#/components/parameters/entities_body_links_wikipedia"
        - $ref: "#/components/parameters/notentities_body_links_wikipedia"
        - $ref: "#/components/parameters/entities_body_links_wikidata"
        - $ref: "#/components/parameters/notentities_body_links_wikidata"
        - $ref: "#/components/parameters/sentiment_title_polarity"
        - $ref: "#/components/parameters/notsentiment_title_polarity"
        - $ref: "#/components/parameters/sentiment_body_polarity"
        - $ref: "#/components/parameters/notsentiment_body_polarity"
        - $ref: "#/components/parameters/media_images_count_min"
        - $ref: "#/components/parameters/media_images_count_max"
        - $ref: "#/components/parameters/media_images_width_min"
        - $ref: "#/components/parameters/media_images_width_max"
        - $ref: "#/components/parameters/media_images_height_min"
        - $ref: "#/components/parameters/media_images_height_max"
        - $ref: "#/components/parameters/media_images_content_length_min"
        - $ref: "#/components/parameters/media_images_content_length_max"
        - $ref: "#/components/parameters/media_images_format"
        - $ref: "#/components/parameters/notmedia_images_format"
        - $ref: "#/components/parameters/media_videos_count_min"
        - $ref: "#/components/parameters/media_videos_count_max"
        - $ref: "#/components/parameters/author_id"
        - $ref: "#/components/parameters/notauthor_id"
        - $ref: "#/components/parameters/author_name"
        - $ref: "#/components/parameters/notauthor_name"
        - $ref: "#/components/parameters/source_id"
        - $ref: "#/components/parameters/notsource_id"
        - $ref: "#/components/parameters/source_name"
        - $ref: "#/components/parameters/notsource_name"
        - $ref: "#/components/parameters/source_domain"
        - $ref: "#/components/parameters/notsource_domain"
        - $ref: "#/components/parameters/source_locations_country"
        - $ref: "#/components/parameters/notsource_locations_country"
        - $ref: "#/components/parameters/source_locations_state"
        - $ref: "#/components/parameters/notsource_locations_state"
        - $ref: "#/components/parameters/source_locations_city"
        - $ref: "#/components/parameters/notsource_locations_city"
        - $ref: "#/components/parameters/source_scopes_country"
        - $ref: "#/components/parameters/notsource_scopes_country"
        - $ref: "#/components/parameters/source_scopes_state"
        - $ref: "#/components/parameters/notsource_scopes_state"
        - $ref: "#/components/parameters/source_scopes_city"
        - $ref: "#/components/parameters/notsource_scopes_city"
        - $ref: "#/components/parameters/source_scopes_level"
        - $ref: "#/components/parameters/notsource_scopes_level"
        - $ref: "#/components/parameters/source_links_in_count_min"
        - $ref: "#/components/parameters/source_links_in_count_max"
        - $ref: "#/components/parameters/source_rankings_alexa_rank_min"
        - $ref: "#/components/parameters/source_rankings_alexa_rank_max"
        - $ref: "#/components/parameters/source_rankings_alexa_country"
        - $ref: "#/components/parameters/social_shares_count_facebook_min"
        - $ref: "#/components/parameters/social_shares_count_facebook_max"
        - $ref: "#/components/parameters/social_shares_count_google_plus_min"
        - $ref: "#/components/parameters/social_shares_count_google_plus_max"
        - $ref: "#/components/parameters/social_shares_count_linkedin_min"
        - $ref: "#/components/parameters/social_shares_count_linkedin_max"
        - $ref: "#/components/parameters/social_shares_count_reddit_min"
        - $ref: "#/components/parameters/social_shares_count_reddit_max"
        - $ref: "#/components/parameters/clusters"
        - $ref: "#/components/parameters/return"
        - $ref: "#/components/parameters/aql"
        - $ref: "#/components/parameters/aql_default_field"
        - $ref: "#/components/parameters/query"
        - description: >
            This parameter is used for changing the order column of the results.
            You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_by
          schema:
            default: published_at
            enum:
              - relevance
              - recency
              - hotness
              - published_at
              - social_shares_count
              - social_shares_count.facebook
              - social_shares_count.linkedin
              - social_shares_count.google_plus
              - social_shares_count.reddit
              - media.images.count
              - media.videos.count
              - source.links_in_count
              - source.rankings.alexa.rank
              - source.rankings.alexa.rank.AF
              - source.rankings.alexa.rank.AX
              - source.rankings.alexa.rank.AL
              - source.rankings.alexa.rank.DZ
              - source.rankings.alexa.rank.AS
              - source.rankings.alexa.rank.AD
              - source.rankings.alexa.rank.AO
              - source.rankings.alexa.rank.AI
              - source.rankings.alexa.rank.AQ
              - source.rankings.alexa.rank.AG
              - source.rankings.alexa.rank.AR
              - source.rankings.alexa.rank.AM
              - source.rankings.alexa.rank.AW
              - source.rankings.alexa.rank.AU
              - source.rankings.alexa.rank.AT
              - source.rankings.alexa.rank.AZ
              - source.rankings.alexa.rank.BS
              - source.rankings.alexa.rank.BH
              - source.rankings.alexa.rank.BD
              - source.rankings.alexa.rank.BB
              - source.rankings.alexa.rank.BY
              - source.rankings.alexa.rank.BE
              - source.rankings.alexa.rank.BZ
              - source.rankings.alexa.rank.BJ
              - source.rankings.alexa.rank.BM
              - source.rankings.alexa.rank.BT
              - source.rankings.alexa.rank.BO
              - source.rankings.alexa.rank.BQ
              - source.rankings.alexa.rank.BA
              - source.rankings.alexa.rank.BW
              - source.rankings.alexa.rank.BV
              - source.rankings.alexa.rank.BR
              - source.rankings.alexa.rank.IO
              - source.rankings.alexa.rank.BN
              - source.rankings.alexa.rank.BG
              - source.rankings.alexa.rank.BF
              - source.rankings.alexa.rank.BI
              - source.rankings.alexa.rank.KH
              - source.rankings.alexa.rank.CM
              - source.rankings.alexa.rank.CA
              - source.rankings.alexa.rank.CV
              - source.rankings.alexa.rank.KY
              - source.rankings.alexa.rank.CF
              - source.rankings.alexa.rank.TD
              - source.rankings.alexa.rank.CL
              - source.rankings.alexa.rank.CN
              - source.rankings.alexa.rank.CX
              - source.rankings.alexa.rank.CC
              - source.rankings.alexa.rank.CO
              - source.rankings.alexa.rank.KM
              - source.rankings.alexa.rank.CG
              - source.rankings.alexa.rank.CD
              - source.rankings.alexa.rank.CK
              - source.rankings.alexa.rank.CR
              - source.rankings.alexa.rank.CI
              - source.rankings.alexa.rank.HR
              - source.rankings.alexa.rank.CU
              - source.rankings.alexa.rank.CW
              - source.rankings.alexa.rank.CY
              - source.rankings.alexa.rank.CZ
              - source.rankings.alexa.rank.DK
              - source.rankings.alexa.rank.DJ
              - source.rankings.alexa.rank.DM
              - source.rankings.alexa.rank.DO
              - source.rankings.alexa.rank.EC
              - source.rankings.alexa.rank.EG
              - source.rankings.alexa.rank.SV
              - source.rankings.alexa.rank.GQ
              - source.rankings.alexa.rank.ER
              - source.rankings.alexa.rank.EE
              - source.rankings.alexa.rank.ET
              - source.rankings.alexa.rank.FK
              - source.rankings.alexa.rank.FO
              - source.rankings.alexa.rank.FJ
              - source.rankings.alexa.rank.FI
              - source.rankings.alexa.rank.FR
              - source.rankings.alexa.rank.GF
              - source.rankings.alexa.rank.PF
              - source.rankings.alexa.rank.TF
              - source.rankings.alexa.rank.GA
              - source.rankings.alexa.rank.GM
              - source.rankings.alexa.rank.GE
              - source.rankings.alexa.rank.DE
              - source.rankings.alexa.rank.GH
              - source.rankings.alexa.rank.GI
              - source.rankings.alexa.rank.GR
              - source.rankings.alexa.rank.GL
              - source.rankings.alexa.rank.GD
              - source.rankings.alexa.rank.GP
              - source.rankings.alexa.rank.GU
              - source.rankings.alexa.rank.GT
              - source.rankings.alexa.rank.GG
              - source.rankings.alexa.rank.GN
              - source.rankings.alexa.rank.GW
              - source.rankings.alexa.rank.GY
              - source.rankings.alexa.rank.HT
              - source.rankings.alexa.rank.HM
              - source.rankings.alexa.rank.VA
              - source.rankings.alexa.rank.HN
              - source.rankings.alexa.rank.HK
              - source.rankings.alexa.rank.HU
              - source.rankings.alexa.rank.IS
              - source.rankings.alexa.rank.IN
              - source.rankings.alexa.rank.ID
              - source.rankings.alexa.rank.IR
              - source.rankings.alexa.rank.IQ
              - source.rankings.alexa.rank.IE
              - source.rankings.alexa.rank.IM
              - source.rankings.alexa.rank.IL
              - source.rankings.alexa.rank.IT
              - source.rankings.alexa.rank.JM
              - source.rankings.alexa.rank.JP
              - source.rankings.alexa.rank.JE
              - source.rankings.alexa.rank.JO
              - source.rankings.alexa.rank.KZ
              - source.rankings.alexa.rank.KE
              - source.rankings.alexa.rank.KI
              - source.rankings.alexa.rank.KP
              - source.rankings.alexa.rank.KR
              - source.rankings.alexa.rank.KW
              - source.rankings.alexa.rank.KG
              - source.rankings.alexa.rank.LA
              - source.rankings.alexa.rank.LV
              - source.rankings.alexa.rank.LB
              - source.rankings.alexa.rank.LS
              - source.rankings.alexa.rank.LR
              - source.rankings.alexa.rank.LY
              - source.rankings.alexa.rank.LI
              - source.rankings.alexa.rank.LT
              - source.rankings.alexa.rank.LU
              - source.rankings.alexa.rank.MO
              - source.rankings.alexa.rank.MK
              - source.rankings.alexa.rank.MG
              - source.rankings.alexa.rank.MW
              - source.rankings.alexa.rank.MY
              - source.rankings.alexa.rank.MV
              - source.rankings.alexa.rank.ML
              - source.rankings.alexa.rank.MT
              - source.rankings.alexa.rank.MH
              - source.rankings.alexa.rank.MQ
              - source.rankings.alexa.rank.MR
              - source.rankings.alexa.rank.MU
              - source.rankings.alexa.rank.YT
              - source.rankings.alexa.rank.MX
              - source.rankings.alexa.rank.FM
              - source.rankings.alexa.rank.MD
              - source.rankings.alexa.rank.MC
              - source.rankings.alexa.rank.MN
              - source.rankings.alexa.rank.ME
              - source.rankings.alexa.rank.MS
              - source.rankings.alexa.rank.MA
              - source.rankings.alexa.rank.MZ
              - source.rankings.alexa.rank.MM
              - source.rankings.alexa.rank.NA
              - source.rankings.alexa.rank.NR
              - source.rankings.alexa.rank.NP
              - source.rankings.alexa.rank.NL
              - source.rankings.alexa.rank.NC
              - source.rankings.alexa.rank.NZ
              - source.rankings.alexa.rank.NI
              - source.rankings.alexa.rank.NE
              - source.rankings.alexa.rank.NG
              - source.rankings.alexa.rank.NU
              - source.rankings.alexa.rank.NF
              - source.rankings.alexa.rank.MP
              - source.rankings.alexa.rank.NO
              - source.rankings.alexa.rank.OM
              - source.rankings.alexa.rank.PK
              - source.rankings.alexa.rank.PW
              - source.rankings.alexa.rank.PS
              - source.rankings.alexa.rank.PA
              - source.rankings.alexa.rank.PG
              - source.rankings.alexa.rank.PY
              - source.rankings.alexa.rank.PE
              - source.rankings.alexa.rank.PH
              - source.rankings.alexa.rank.PN
              - source.rankings.alexa.rank.PL
              - source.rankings.alexa.rank.PT
              - source.rankings.alexa.rank.PR
              - source.rankings.alexa.rank.QA
              - source.rankings.alexa.rank.RE
              - source.rankings.alexa.rank.RO
              - source.rankings.alexa.rank.RU
              - source.rankings.alexa.rank.RW
              - source.rankings.alexa.rank.BL
              - source.rankings.alexa.rank.SH
              - source.rankings.alexa.rank.KN
              - source.rankings.alexa.rank.LC
              - source.rankings.alexa.rank.MF
              - source.rankings.alexa.rank.PM
              - source.rankings.alexa.rank.VC
              - source.rankings.alexa.rank.WS
              - source.rankings.alexa.rank.SM
              - source.rankings.alexa.rank.ST
              - source.rankings.alexa.rank.SA
              - source.rankings.alexa.rank.SN
              - source.rankings.alexa.rank.RS
              - source.rankings.alexa.rank.SC
              - source.rankings.alexa.rank.SL
              - source.rankings.alexa.rank.SG
              - source.rankings.alexa.rank.SX
              - source.rankings.alexa.rank.SK
              - source.rankings.alexa.rank.SI
              - source.rankings.alexa.rank.SB
              - source.rankings.alexa.rank.SO
              - source.rankings.alexa.rank.ZA
              - source.rankings.alexa.rank.GS
              - source.rankings.alexa.rank.SS
              - source.rankings.alexa.rank.ES
              - source.rankings.alexa.rank.LK
              - source.rankings.alexa.rank.SD
              - source.rankings.alexa.rank.SR
              - source.rankings.alexa.rank.SJ
              - source.rankings.alexa.rank.SZ
              - source.rankings.alexa.rank.SE
              - source.rankings.alexa.rank.CH
              - source.rankings.alexa.rank.SY
              - source.rankings.alexa.rank.TW
              - source.rankings.alexa.rank.TJ
              - source.rankings.alexa.rank.TZ
              - source.rankings.alexa.rank.TH
              - source.rankings.alexa.rank.TL
              - source.rankings.alexa.rank.TG
              - source.rankings.alexa.rank.TK
              - source.rankings.alexa.rank.TO
              - source.rankings.alexa.rank.TT
              - source.rankings.alexa.rank.TN
              - source.rankings.alexa.rank.TR
              - source.rankings.alexa.rank.TM
              - source.rankings.alexa.rank.TC
              - source.rankings.alexa.rank.TV
              - source.rankings.alexa.rank.UG
              - source.rankings.alexa.rank.UA
              - source.rankings.alexa.rank.AE
              - source.rankings.alexa.rank.GB
              - source.rankings.alexa.rank.US
              - source.rankings.alexa.rank.UM
              - source.rankings.alexa.rank.UY
              - source.rankings.alexa.rank.UZ
              - source.rankings.alexa.rank.VU
              - source.rankings.alexa.rank.VE
              - source.rankings.alexa.rank.VN
              - source.rankings.alexa.rank.VG
              - source.rankings.alexa.rank.VI
              - source.rankings.alexa.rank.WF
              - source.rankings.alexa.rank.EH
              - source.rankings.alexa.rank.YE
              - source.rankings.alexa.rank.ZM
              - source.rankings.alexa.rank.ZW
            nullable: true
            type: string
        - description: >
            This parameter is used for changing the order direction of the
            result. You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_direction
          schema:
            default: desc
            enum:
              - asc
              - desc
            nullable: true
            type: string
        - description: >
            This parameter is used for finding a specific page. You can read
            more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results).
          in: query
          name: cursor
          schema:
            default: "*"
            nullable: true
            type: string
        - description: >
            This parameter is used for specifying number of items in each page
            You can read more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results)
          in: query
          name: per_page
          schema:
            default: 10
            format: int32
            maximum: 100
            minimum: 1
            nullable: true
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Stories"
                  - $ref: "#/components/schemas/DeprecatedStories"
            text/xml:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Stories"
                  - $ref: "#/components/schemas/DeprecatedStories"
          description: An object including an array of stories
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
      summary: List Stories
    post:
      tags:
        - story
      description: >
        The stories endpoint is used to return stories based on the json query you
        set in your request body. The News API crawler gathers articles in near
        real-time and stores information about them, or metadata. Below you can
        see all of the query parameters, and JSON schema for the body, which you
        can use to narrow down your query.
      operationId: advancedListStories
      parameters:
        - $ref: "#/components/parameters/published_at_start"
        - $ref: "#/components/parameters/published_at_end"
        - $ref: "#/components/parameters/return"
        - description: >
            This parameter is used for changing the order column of the results.
            You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_by
          schema:
            default: published_at
            enum:
              - relevance
              - recency
              - hotness
              - published_at
              - social_shares_count
              - social_shares_count.facebook
              - social_shares_count.linkedin
              - social_shares_count.google_plus
              - social_shares_count.reddit
              - media.images.count
              - media.videos.count
              - source.links_in_count
              - source.rankings.alexa.rank
              - source.rankings.alexa.rank.AF
              - source.rankings.alexa.rank.AX
              - source.rankings.alexa.rank.AL
              - source.rankings.alexa.rank.DZ
              - source.rankings.alexa.rank.AS
              - source.rankings.alexa.rank.AD
              - source.rankings.alexa.rank.AO
              - source.rankings.alexa.rank.AI
              - source.rankings.alexa.rank.AQ
              - source.rankings.alexa.rank.AG
              - source.rankings.alexa.rank.AR
              - source.rankings.alexa.rank.AM
              - source.rankings.alexa.rank.AW
              - source.rankings.alexa.rank.AU
              - source.rankings.alexa.rank.AT
              - source.rankings.alexa.rank.AZ
              - source.rankings.alexa.rank.BS
              - source.rankings.alexa.rank.BH
              - source.rankings.alexa.rank.BD
              - source.rankings.alexa.rank.BB
              - source.rankings.alexa.rank.BY
              - source.rankings.alexa.rank.BE
              - source.rankings.alexa.rank.BZ
              - source.rankings.alexa.rank.BJ
              - source.rankings.alexa.rank.BM
              - source.rankings.alexa.rank.BT
              - source.rankings.alexa.rank.BO
              - source.rankings.alexa.rank.BQ
              - source.rankings.alexa.rank.BA
              - source.rankings.alexa.rank.BW
              - source.rankings.alexa.rank.BV
              - source.rankings.alexa.rank.BR
              - source.rankings.alexa.rank.IO
              - source.rankings.alexa.rank.BN
              - source.rankings.alexa.rank.BG
              - source.rankings.alexa.rank.BF
              - source.rankings.alexa.rank.BI
              - source.rankings.alexa.rank.KH
              - source.rankings.alexa.rank.CM
              - source.rankings.alexa.rank.CA
              - source.rankings.alexa.rank.CV
              - source.rankings.alexa.rank.KY
              - source.rankings.alexa.rank.CF
              - source.rankings.alexa.rank.TD
              - source.rankings.alexa.rank.CL
              - source.rankings.alexa.rank.CN
              - source.rankings.alexa.rank.CX
              - source.rankings.alexa.rank.CC
              - source.rankings.alexa.rank.CO
              - source.rankings.alexa.rank.KM
              - source.rankings.alexa.rank.CG
              - source.rankings.alexa.rank.CD
              - source.rankings.alexa.rank.CK
              - source.rankings.alexa.rank.CR
              - source.rankings.alexa.rank.CI
              - source.rankings.alexa.rank.HR
              - source.rankings.alexa.rank.CU
              - source.rankings.alexa.rank.CW
              - source.rankings.alexa.rank.CY
              - source.rankings.alexa.rank.CZ
              - source.rankings.alexa.rank.DK
              - source.rankings.alexa.rank.DJ
              - source.rankings.alexa.rank.DM
              - source.rankings.alexa.rank.DO
              - source.rankings.alexa.rank.EC
              - source.rankings.alexa.rank.EG
              - source.rankings.alexa.rank.SV
              - source.rankings.alexa.rank.GQ
              - source.rankings.alexa.rank.ER
              - source.rankings.alexa.rank.EE
              - source.rankings.alexa.rank.ET
              - source.rankings.alexa.rank.FK
              - source.rankings.alexa.rank.FO
              - source.rankings.alexa.rank.FJ
              - source.rankings.alexa.rank.FI
              - source.rankings.alexa.rank.FR
              - source.rankings.alexa.rank.GF
              - source.rankings.alexa.rank.PF
              - source.rankings.alexa.rank.TF
              - source.rankings.alexa.rank.GA
              - source.rankings.alexa.rank.GM
              - source.rankings.alexa.rank.GE
              - source.rankings.alexa.rank.DE
              - source.rankings.alexa.rank.GH
              - source.rankings.alexa.rank.GI
              - source.rankings.alexa.rank.GR
              - source.rankings.alexa.rank.GL
              - source.rankings.alexa.rank.GD
              - source.rankings.alexa.rank.GP
              - source.rankings.alexa.rank.GU
              - source.rankings.alexa.rank.GT
              - source.rankings.alexa.rank.GG
              - source.rankings.alexa.rank.GN
              - source.rankings.alexa.rank.GW
              - source.rankings.alexa.rank.GY
              - source.rankings.alexa.rank.HT
              - source.rankings.alexa.rank.HM
              - source.rankings.alexa.rank.VA
              - source.rankings.alexa.rank.HN
              - source.rankings.alexa.rank.HK
              - source.rankings.alexa.rank.HU
              - source.rankings.alexa.rank.IS
              - source.rankings.alexa.rank.IN
              - source.rankings.alexa.rank.ID
              - source.rankings.alexa.rank.IR
              - source.rankings.alexa.rank.IQ
              - source.rankings.alexa.rank.IE
              - source.rankings.alexa.rank.IM
              - source.rankings.alexa.rank.IL
              - source.rankings.alexa.rank.IT
              - source.rankings.alexa.rank.JM
              - source.rankings.alexa.rank.JP
              - source.rankings.alexa.rank.JE
              - source.rankings.alexa.rank.JO
              - source.rankings.alexa.rank.KZ
              - source.rankings.alexa.rank.KE
              - source.rankings.alexa.rank.KI
              - source.rankings.alexa.rank.KP
              - source.rankings.alexa.rank.KR
              - source.rankings.alexa.rank.KW
              - source.rankings.alexa.rank.KG
              - source.rankings.alexa.rank.LA
              - source.rankings.alexa.rank.LV
              - source.rankings.alexa.rank.LB
              - source.rankings.alexa.rank.LS
              - source.rankings.alexa.rank.LR
              - source.rankings.alexa.rank.LY
              - source.rankings.alexa.rank.LI
              - source.rankings.alexa.rank.LT
              - source.rankings.alexa.rank.LU
              - source.rankings.alexa.rank.MO
              - source.rankings.alexa.rank.MK
              - source.rankings.alexa.rank.MG
              - source.rankings.alexa.rank.MW
              - source.rankings.alexa.rank.MY
              - source.rankings.alexa.rank.MV
              - source.rankings.alexa.rank.ML
              - source.rankings.alexa.rank.MT
              - source.rankings.alexa.rank.MH
              - source.rankings.alexa.rank.MQ
              - source.rankings.alexa.rank.MR
              - source.rankings.alexa.rank.MU
              - source.rankings.alexa.rank.YT
              - source.rankings.alexa.rank.MX
              - source.rankings.alexa.rank.FM
              - source.rankings.alexa.rank.MD
              - source.rankings.alexa.rank.MC
              - source.rankings.alexa.rank.MN
              - source.rankings.alexa.rank.ME
              - source.rankings.alexa.rank.MS
              - source.rankings.alexa.rank.MA
              - source.rankings.alexa.rank.MZ
              - source.rankings.alexa.rank.MM
              - source.rankings.alexa.rank.NA
              - source.rankings.alexa.rank.NR
              - source.rankings.alexa.rank.NP
              - source.rankings.alexa.rank.NL
              - source.rankings.alexa.rank.NC
              - source.rankings.alexa.rank.NZ
              - source.rankings.alexa.rank.NI
              - source.rankings.alexa.rank.NE
              - source.rankings.alexa.rank.NG
              - source.rankings.alexa.rank.NU
              - source.rankings.alexa.rank.NF
              - source.rankings.alexa.rank.MP
              - source.rankings.alexa.rank.NO
              - source.rankings.alexa.rank.OM
              - source.rankings.alexa.rank.PK
              - source.rankings.alexa.rank.PW
              - source.rankings.alexa.rank.PS
              - source.rankings.alexa.rank.PA
              - source.rankings.alexa.rank.PG
              - source.rankings.alexa.rank.PY
              - source.rankings.alexa.rank.PE
              - source.rankings.alexa.rank.PH
              - source.rankings.alexa.rank.PN
              - source.rankings.alexa.rank.PL
              - source.rankings.alexa.rank.PT
              - source.rankings.alexa.rank.PR
              - source.rankings.alexa.rank.QA
              - source.rankings.alexa.rank.RE
              - source.rankings.alexa.rank.RO
              - source.rankings.alexa.rank.RU
              - source.rankings.alexa.rank.RW
              - source.rankings.alexa.rank.BL
              - source.rankings.alexa.rank.SH
              - source.rankings.alexa.rank.KN
              - source.rankings.alexa.rank.LC
              - source.rankings.alexa.rank.MF
              - source.rankings.alexa.rank.PM
              - source.rankings.alexa.rank.VC
              - source.rankings.alexa.rank.WS
              - source.rankings.alexa.rank.SM
              - source.rankings.alexa.rank.ST
              - source.rankings.alexa.rank.SA
              - source.rankings.alexa.rank.SN
              - source.rankings.alexa.rank.RS
              - source.rankings.alexa.rank.SC
              - source.rankings.alexa.rank.SL
              - source.rankings.alexa.rank.SG
              - source.rankings.alexa.rank.SX
              - source.rankings.alexa.rank.SK
              - source.rankings.alexa.rank.SI
              - source.rankings.alexa.rank.SB
              - source.rankings.alexa.rank.SO
              - source.rankings.alexa.rank.ZA
              - source.rankings.alexa.rank.GS
              - source.rankings.alexa.rank.SS
              - source.rankings.alexa.rank.ES
              - source.rankings.alexa.rank.LK
              - source.rankings.alexa.rank.SD
              - source.rankings.alexa.rank.SR
              - source.rankings.alexa.rank.SJ
              - source.rankings.alexa.rank.SZ
              - source.rankings.alexa.rank.SE
              - source.rankings.alexa.rank.CH
              - source.rankings.alexa.rank.SY
              - source.rankings.alexa.rank.TW
              - source.rankings.alexa.rank.TJ
              - source.rankings.alexa.rank.TZ
              - source.rankings.alexa.rank.TH
              - source.rankings.alexa.rank.TL
              - source.rankings.alexa.rank.TG
              - source.rankings.alexa.rank.TK
              - source.rankings.alexa.rank.TO
              - source.rankings.alexa.rank.TT
              - source.rankings.alexa.rank.TN
              - source.rankings.alexa.rank.TR
              - source.rankings.alexa.rank.TM
              - source.rankings.alexa.rank.TC
              - source.rankings.alexa.rank.TV
              - source.rankings.alexa.rank.UG
              - source.rankings.alexa.rank.UA
              - source.rankings.alexa.rank.AE
              - source.rankings.alexa.rank.GB
              - source.rankings.alexa.rank.US
              - source.rankings.alexa.rank.UM
              - source.rankings.alexa.rank.UY
              - source.rankings.alexa.rank.UZ
              - source.rankings.alexa.rank.VU
              - source.rankings.alexa.rank.VE
              - source.rankings.alexa.rank.VN
              - source.rankings.alexa.rank.VG
              - source.rankings.alexa.rank.VI
              - source.rankings.alexa.rank.WF
              - source.rankings.alexa.rank.EH
              - source.rankings.alexa.rank.YE
              - source.rankings.alexa.rank.ZM
              - source.rankings.alexa.rank.ZW
            nullable: true
            type: string
        - description: >
            This parameter is used for changing the order direction of the
            result. You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          in: query
          name: sort_direction
          schema:
            default: desc
            enum:
              - asc
              - desc
            nullable: true
            type: string
        - description: >
            This parameter is used for finding a specific page. You can read
            more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results).
          in: query
          name: cursor
          schema:
            default: "*"
            nullable: true
            type: string
        - description: >
            This parameter is used for specifying number of items in each page
            You can read more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results)
          in: query
          name: per_page
          schema:
            default: 10
            format: int32
            maximum: 100
            minimum: 1
            nullable: true
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/StoriesBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Stories"
                  - $ref: "#/components/schemas/DeprecatedStories"
            text/xml:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Stories"
                  - $ref: "#/components/schemas/DeprecatedStories"
          description: An object including an array of stories
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                format: int32
                type: integer
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                format: int64
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
          description: Internal Server Error
      security:
        - app_id: []
        - app_key: []
      summary: List Stories
[...]
