openapi: 3.0.1
info:
  title: AYLIEN News API
  description: >
    The AYLIEN News API is the most powerful way of sourcing, searching and
    syndicating analyzed and enriched news content. It is accessed by sending
    HTTP requests to our server, which returns information to your client.
  termsOfService: https://newsapi.aylien.com/tos
  contact:
    name: API support
    url: https://newsapi.aylien.com/
    email: support@aylien.com
  version: "2.0"
servers:
  - url: https://api.aylien.com/news
paths:
  /stories:
    get:
      summary: List Stories
      description: >
        The stories endpoint is used to return stories based on parameters you
        set in your query. The News API crawler gathers articles in near
        real-time and stores information about them, or metadata. Below you can
        see all of the query parameters, which you can use to narrow down your
        query.
      operationId: listStories
      parameters:
        - name: id[]
          in: query
          description: |
            This parameter is used for finding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: "!id[]"
          in: query
          description: |
            This parameter is used for excluding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: title
          in: query
          description: >
            This parameter is used for finding stories whose title contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: body
          in: query
          description: >
            This parameter is used for finding stories whose body contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: text
          in: query
          description: >
            This parameter is used for finding stories whose title or body
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.title
          in: query
          description: >
            This parameter is used for finding stories whose translation title
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.body
          in: query
          description: >
            This parameter is used for finding stories whose translation body
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.text
          in: query
          description: >
            This parameter is used for finding stories whose translation title
            or body contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: language[]
          in: query
          description: >
            This parameter is used for finding stories whose language is the
            specified value. It supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - en
                - de
                - fr
                - it
                - es
                - pt
        - name: "!language[]"
          in: query
          description: >
            This parameter is used for excluding stories whose language is the
            specified value. It supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - en
                - de
                - fr
                - it
                - es
                - pt
        - name: published_at.start
          in: query
          description: >
            This parameter is used for finding stories whose published at time
            is greater than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          schema:
            type: string
        - name: published_at.end
          in: query
          description: >
            This parameter is used for finding stories whose published at time
            is less than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          schema:
            type: string
        - name: categories.taxonomy
          in: query
          description: >
            This parameter is used for defining the type of the taxonomy for the
            rest of the categories queries. You can read more about working with
            categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          schema:
            type: string
            enum:
              - iab-qag
              - iptc-subjectcode
        - name: categories.confident
          in: query
          description: >
            This parameter is used for finding stories whose categories are
            confident. You can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          schema:
            type: boolean
            default: true
        - name: categories.id[]
          in: query
          description: >
            This parameter is used for finding stories by categories id. You can
            read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!categories.id[]"
          in: query
          description: >
            This parameter is used for excluding stories by categories id. You
            can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: categories.level[]
          in: query
          description: >
            This parameter is used for finding stories by categories level. You
            can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "!categories.level[]"
          in: query
          description: >
            This parameter is used for excluding stories by categories level.
            You can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: entities.title.text[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `text` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.text[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `text` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.title.type[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `type` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.type[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `type` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.title.links.dbpedia[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities dbpedia URL in story titles. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.links.dbpedia[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities dbpedia URL in story titles. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.text[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `text` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.text[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `text` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.type[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `type` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.type[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `type` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.links.dbpedia[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities dbpedia URL in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.links.dbpedia[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities dbpedia URL in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: sentiment.title.polarity
          in: query
          description: >
            This parameter is used for finding stories whose title sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: "!sentiment.title.polarity"
          in: query
          description: >
            This parameter is used for excluding stories whose title sentiment
            is the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: sentiment.body.polarity
          in: query
          description: >
            This parameter is used for finding stories whose body sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: "!sentiment.body.polarity"
          in: query
          description: >
            This parameter is used for excluding stories whose body sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: media.images.count.min
          in: query
          description: >
            This parameter is used for finding stories whose number of images is
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.count.max
          in: query
          description: >
            This parameter is used for finding stories whose number of images is
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.width.min
          in: query
          description: >
            This parameter is used for finding stories whose width of images are
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.width.max
          in: query
          description: >
            This parameter is used for finding stories whose width of images are
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.height.min
          in: query
          description: >
            This parameter is used for finding stories whose height of images
            are greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.height.max
          in: query
          description: >
            This parameter is used for finding stories whose height of images
            are less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.content_length.min
          in: query
          description: >
            This parameter is used for finding stories whose images content
            length are greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.content_length.max
          in: query
          description: >
            This parameter is used for finding stories whose images content
            length are less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.format[]
          in: query
          description: >
            This parameter is used for finding stories whose images format are
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - BMP
                - GIF
                - JPEG
                - PNG
                - TIFF
                - PSD
                - ICO
                - CUR
                - WEBP
                - SVG
        - name: "!media.images.format[]"
          in: query
          description: >
            This parameter is used for excluding stories whose images format are
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - BMP
                - GIF
                - JPEG
                - PNG
                - TIFF
                - PSD
                - ICO
                - CUR
                - WEBP
                - SVG
        - name: media.videos.count.min
          in: query
          description: >
            This parameter is used for finding stories whose number of videos is
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.videos.count.max
          in: query
          description: >
            This parameter is used for finding stories whose number of videos is
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: author.id[]
          in: query
          description: >
            This parameter is used for finding stories whose author id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: "!author.id[]"
          in: query
          description: >
            This parameter is used for excluding stories whose author id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: author.name
          in: query
          description: >
            This parameter is used for finding stories whose author full name
            contains the specified value.
          schema:
            type: string
        - name: "!author.name"
          in: query
          description: >
            This parameter is used for excluding stories whose author full name
            contains the specified value.
          schema:
            type: string
        - name: source.id[]
          in: query
          description: >
            This parameter is used for finding stories whose source id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: "!source.id[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: source.name[]
          in: query
          description: >
            This parameter is used for finding stories whose source name
            contains the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.name[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source name
            contains the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.domain[]
          in: query
          description: >
            This parameter is used for finding stories whose source domain is
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.domain[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source domain is
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.country[]
          in: query
          description: >
            This parameter is used for finding stories whose source country is
            the specified value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.country[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source country is
            the specified value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.state[]
          in: query
          description: >
            This parameter is used for finding stories whose source
            state/province is the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.state[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source
            state/province is the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.city[]
          in: query
          description: >
            This parameter is used for finding stories whose source city is the
            specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.city[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source city is
            the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.country[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.country[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.state[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified state/province value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.state[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified state/province value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.city[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified city value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.city[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified city value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.level[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified level value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - international
                - national
                - local
        - name: "!source.scopes.level[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified level value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - international
                - national
                - local
        - name: source.links_in_count.min
          in: query
          description: >
            This parameter is used for finding stories from sources whose Links
            in count is greater than or equal to the specified value. You can
            read more about working with Links in count
            [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.links_in_count.max
          in: query
          description: >
            This parameter is used for finding stories from sources whose Links
            in count is less than or equal to the specified value. You can read
            more about working with Links in count
            [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.rank.min
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is greater than or equal to the specified value. You can read
            more about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.rank.max
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is less than or equal to the specified value. You can read more
            about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.country[]
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is in the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes. You can read more about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: social_shares_count.facebook.min
          in: query
          description: >
            This parameter is used for finding stories whose Facebook social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.facebook.max
          in: query
          description: >
            This parameter is used for finding stories whose Facebook social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.google_plus.min
          in: query
          description: >
            This parameter is used for finding stories whose Google+ social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.google_plus.max
          in: query
          description: >
            This parameter is used for finding stories whose Google+ social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.linkedin.min
          in: query
          description: >
            This parameter is used for finding stories whose LinkedIn social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.linkedin.max
          in: query
          description: >
            This parameter is used for finding stories whose LinkedIn social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.reddit.min
          in: query
          description: >
            This parameter is used for finding stories whose Reddit social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.reddit.max
          in: query
          description: >
            This parameter is used for finding stories whose Reddit social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: clusters[]
          in: query
          description: >
            This parameter is used for finding stories with belonging to one of
            clusters in a specific set of clusters You can read more about
            working with clustering
            [here](https://newsapi.aylien.com/docs/working-with-clustering).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: return[]
          in: query
          description: This parameter is used for specifying return fields.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - title
                - body
                - summary
                - source
                - author
                - entities
                - keywords
                - hashtags
                - characters_count
                - words_count
                - sentences_count
                - paragraphs_count
                - categories
                - social_shares_count
                - media
                - sentiment
                - language
                - published_at
                - links
        - name: sort_by
          in: query
          description: >
            This parameter is used for changing the order column of the results.
            You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          schema:
            type: string
            default: published_at
            enum:
              - relevance
              - recency
              - hotness
              - published_at
              - social_shares_count
              - social_shares_count.facebook
              - social_shares_count.linkedin
              - social_shares_count.google_plus
              - social_shares_count.reddit
              - media.images.count
              - media.videos.count
              - source.links_in_count
              - source.rankings.alexa.rank
              - source.rankings.alexa.rank.AF
              - source.rankings.alexa.rank.AX
              - source.rankings.alexa.rank.AL
              - source.rankings.alexa.rank.DZ
              - source.rankings.alexa.rank.AS
              - source.rankings.alexa.rank.AD
              - source.rankings.alexa.rank.AO
              - source.rankings.alexa.rank.AI
              - source.rankings.alexa.rank.AQ
              - source.rankings.alexa.rank.AG
              - source.rankings.alexa.rank.AR
              - source.rankings.alexa.rank.AM
              - source.rankings.alexa.rank.AW
              - source.rankings.alexa.rank.AU
              - source.rankings.alexa.rank.AT
              - source.rankings.alexa.rank.AZ
              - source.rankings.alexa.rank.BS
              - source.rankings.alexa.rank.BH
              - source.rankings.alexa.rank.BD
              - source.rankings.alexa.rank.BB
              - source.rankings.alexa.rank.BY
              - source.rankings.alexa.rank.BE
              - source.rankings.alexa.rank.BZ
              - source.rankings.alexa.rank.BJ
              - source.rankings.alexa.rank.BM
              - source.rankings.alexa.rank.BT
              - source.rankings.alexa.rank.BO
              - source.rankings.alexa.rank.BQ
              - source.rankings.alexa.rank.BA
              - source.rankings.alexa.rank.BW
              - source.rankings.alexa.rank.BV
              - source.rankings.alexa.rank.BR
              - source.rankings.alexa.rank.IO
              - source.rankings.alexa.rank.BN
              - source.rankings.alexa.rank.BG
              - source.rankings.alexa.rank.BF
              - source.rankings.alexa.rank.BI
              - source.rankings.alexa.rank.KH
              - source.rankings.alexa.rank.CM
              - source.rankings.alexa.rank.CA
              - source.rankings.alexa.rank.CV
              - source.rankings.alexa.rank.KY
              - source.rankings.alexa.rank.CF
              - source.rankings.alexa.rank.TD
              - source.rankings.alexa.rank.CL
              - source.rankings.alexa.rank.CN
              - source.rankings.alexa.rank.CX
              - source.rankings.alexa.rank.CC
              - source.rankings.alexa.rank.CO
              - source.rankings.alexa.rank.KM
              - source.rankings.alexa.rank.CG
              - source.rankings.alexa.rank.CD
              - source.rankings.alexa.rank.CK
              - source.rankings.alexa.rank.CR
              - source.rankings.alexa.rank.CI
              - source.rankings.alexa.rank.HR
              - source.rankings.alexa.rank.CU
              - source.rankings.alexa.rank.CW
              - source.rankings.alexa.rank.CY
              - source.rankings.alexa.rank.CZ
              - source.rankings.alexa.rank.DK
              - source.rankings.alexa.rank.DJ
              - source.rankings.alexa.rank.DM
              - source.rankings.alexa.rank.DO
              - source.rankings.alexa.rank.EC
              - source.rankings.alexa.rank.EG
              - source.rankings.alexa.rank.SV
              - source.rankings.alexa.rank.GQ
              - source.rankings.alexa.rank.ER
              - source.rankings.alexa.rank.EE
              - source.rankings.alexa.rank.ET
              - source.rankings.alexa.rank.FK
              - source.rankings.alexa.rank.FO
              - source.rankings.alexa.rank.FJ
              - source.rankings.alexa.rank.FI
              - source.rankings.alexa.rank.FR
              - source.rankings.alexa.rank.GF
              - source.rankings.alexa.rank.PF
              - source.rankings.alexa.rank.TF
              - source.rankings.alexa.rank.GA
              - source.rankings.alexa.rank.GM
              - source.rankings.alexa.rank.GE
              - source.rankings.alexa.rank.DE
              - source.rankings.alexa.rank.GH
              - source.rankings.alexa.rank.GI
              - source.rankings.alexa.rank.GR
              - source.rankings.alexa.rank.GL
              - source.rankings.alexa.rank.GD
              - source.rankings.alexa.rank.GP
              - source.rankings.alexa.rank.GU
              - source.rankings.alexa.rank.GT
              - source.rankings.alexa.rank.GG
              - source.rankings.alexa.rank.GN
              - source.rankings.alexa.rank.GW
              - source.rankings.alexa.rank.GY
              - source.rankings.alexa.rank.HT
              - source.rankings.alexa.rank.HM
              - source.rankings.alexa.rank.VA
              - source.rankings.alexa.rank.HN
              - source.rankings.alexa.rank.HK
              - source.rankings.alexa.rank.HU
              - source.rankings.alexa.rank.IS
              - source.rankings.alexa.rank.IN
              - source.rankings.alexa.rank.ID
              - source.rankings.alexa.rank.IR
              - source.rankings.alexa.rank.IQ
              - source.rankings.alexa.rank.IE
              - source.rankings.alexa.rank.IM
              - source.rankings.alexa.rank.IL
              - source.rankings.alexa.rank.IT
              - source.rankings.alexa.rank.JM
              - source.rankings.alexa.rank.JP
              - source.rankings.alexa.rank.JE
              - source.rankings.alexa.rank.JO
              - source.rankings.alexa.rank.KZ
              - source.rankings.alexa.rank.KE
              - source.rankings.alexa.rank.KI
              - source.rankings.alexa.rank.KP
              - source.rankings.alexa.rank.KR
              - source.rankings.alexa.rank.KW
              - source.rankings.alexa.rank.KG
              - source.rankings.alexa.rank.LA
              - source.rankings.alexa.rank.LV
              - source.rankings.alexa.rank.LB
              - source.rankings.alexa.rank.LS
              - source.rankings.alexa.rank.LR
              - source.rankings.alexa.rank.LY
              - source.rankings.alexa.rank.LI
              - source.rankings.alexa.rank.LT
              - source.rankings.alexa.rank.LU
              - source.rankings.alexa.rank.MO
              - source.rankings.alexa.rank.MK
              - source.rankings.alexa.rank.MG
              - source.rankings.alexa.rank.MW
              - source.rankings.alexa.rank.MY
              - source.rankings.alexa.rank.MV
              - source.rankings.alexa.rank.ML
              - source.rankings.alexa.rank.MT
              - source.rankings.alexa.rank.MH
              - source.rankings.alexa.rank.MQ
              - source.rankings.alexa.rank.MR
              - source.rankings.alexa.rank.MU
              - source.rankings.alexa.rank.YT
              - source.rankings.alexa.rank.MX
              - source.rankings.alexa.rank.FM
              - source.rankings.alexa.rank.MD
              - source.rankings.alexa.rank.MC
              - source.rankings.alexa.rank.MN
              - source.rankings.alexa.rank.ME
              - source.rankings.alexa.rank.MS
              - source.rankings.alexa.rank.MA
              - source.rankings.alexa.rank.MZ
              - source.rankings.alexa.rank.MM
              - source.rankings.alexa.rank.NA
              - source.rankings.alexa.rank.NR
              - source.rankings.alexa.rank.NP
              - source.rankings.alexa.rank.NL
              - source.rankings.alexa.rank.NC
              - source.rankings.alexa.rank.NZ
              - source.rankings.alexa.rank.NI
              - source.rankings.alexa.rank.NE
              - source.rankings.alexa.rank.NG
              - source.rankings.alexa.rank.NU
              - source.rankings.alexa.rank.NF
              - source.rankings.alexa.rank.MP
              - source.rankings.alexa.rank.NO
              - source.rankings.alexa.rank.OM
              - source.rankings.alexa.rank.PK
              - source.rankings.alexa.rank.PW
              - source.rankings.alexa.rank.PS
              - source.rankings.alexa.rank.PA
              - source.rankings.alexa.rank.PG
              - source.rankings.alexa.rank.PY
              - source.rankings.alexa.rank.PE
              - source.rankings.alexa.rank.PH
              - source.rankings.alexa.rank.PN
              - source.rankings.alexa.rank.PL
              - source.rankings.alexa.rank.PT
              - source.rankings.alexa.rank.PR
              - source.rankings.alexa.rank.QA
              - source.rankings.alexa.rank.RE
              - source.rankings.alexa.rank.RO
              - source.rankings.alexa.rank.RU
              - source.rankings.alexa.rank.RW
              - source.rankings.alexa.rank.BL
              - source.rankings.alexa.rank.SH
              - source.rankings.alexa.rank.KN
              - source.rankings.alexa.rank.LC
              - source.rankings.alexa.rank.MF
              - source.rankings.alexa.rank.PM
              - source.rankings.alexa.rank.VC
              - source.rankings.alexa.rank.WS
              - source.rankings.alexa.rank.SM
              - source.rankings.alexa.rank.ST
              - source.rankings.alexa.rank.SA
              - source.rankings.alexa.rank.SN
              - source.rankings.alexa.rank.RS
              - source.rankings.alexa.rank.SC
              - source.rankings.alexa.rank.SL
              - source.rankings.alexa.rank.SG
              - source.rankings.alexa.rank.SX
              - source.rankings.alexa.rank.SK
              - source.rankings.alexa.rank.SI
              - source.rankings.alexa.rank.SB
              - source.rankings.alexa.rank.SO
              - source.rankings.alexa.rank.ZA
              - source.rankings.alexa.rank.GS
              - source.rankings.alexa.rank.SS
              - source.rankings.alexa.rank.ES
              - source.rankings.alexa.rank.LK
              - source.rankings.alexa.rank.SD
              - source.rankings.alexa.rank.SR
              - source.rankings.alexa.rank.SJ
              - source.rankings.alexa.rank.SZ
              - source.rankings.alexa.rank.SE
              - source.rankings.alexa.rank.CH
              - source.rankings.alexa.rank.SY
              - source.rankings.alexa.rank.TW
              - source.rankings.alexa.rank.TJ
              - source.rankings.alexa.rank.TZ
              - source.rankings.alexa.rank.TH
              - source.rankings.alexa.rank.TL
              - source.rankings.alexa.rank.TG
              - source.rankings.alexa.rank.TK
              - source.rankings.alexa.rank.TO
              - source.rankings.alexa.rank.TT
              - source.rankings.alexa.rank.TN
              - source.rankings.alexa.rank.TR
              - source.rankings.alexa.rank.TM
              - source.rankings.alexa.rank.TC
              - source.rankings.alexa.rank.TV
              - source.rankings.alexa.rank.UG
              - source.rankings.alexa.rank.UA
              - source.rankings.alexa.rank.AE
              - source.rankings.alexa.rank.GB
              - source.rankings.alexa.rank.US
              - source.rankings.alexa.rank.UM
              - source.rankings.alexa.rank.UY
              - source.rankings.alexa.rank.UZ
              - source.rankings.alexa.rank.VU
              - source.rankings.alexa.rank.VE
              - source.rankings.alexa.rank.VN
              - source.rankings.alexa.rank.VG
              - source.rankings.alexa.rank.VI
              - source.rankings.alexa.rank.WF
              - source.rankings.alexa.rank.EH
              - source.rankings.alexa.rank.YE
              - source.rankings.alexa.rank.ZM
              - source.rankings.alexa.rank.ZW
        - name: sort_direction
          in: query
          description: >
            This parameter is used for changing the order direction of the
            result. You can read about sorting results
            [here](https://newsapi.aylien.com/docs/sorting-results).
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: cursor
          in: query
          description: >
            This parameter is used for finding a specific page. You can read
            more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results).
          schema:
            type: string
            default: "*"
        - name: per_page
          in: query
          description: >
            This parameter is used for specifying number of items in each page
            You can read more about pagination of results
            [here](https://newsapi.aylien.com/docs/pagination-of-results)
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
      responses:
        "200":
          description: An object including an array of stories
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                type: integer
                format: int64
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stories"
            text/xml:
              schema:
                $ref: "#/components/schemas/Stories"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "429":
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                type: integer
                format: int64
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - app_id: []
        - app_key: []
  /related_stories:
    get:
      summary: List related stories
      description: >
        This endpoint is used for finding semantically similar stories based on
        the parameters you provide as inputs. For example, if you want to find
        stories similar to a Tweet or any text extract you input, the related
        stories endpoint will analyze the entities present and the meaning of
        the text, and find stories with a similar meaning. The maximum number of
        related stories returned is 100.
      operationId: listRelatedStories
      parameters:
        - name: id[]
          in: query
          description: |
            This parameter is used for finding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: "!id[]"
          in: query
          description: |
            This parameter is used for excluding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: title
          in: query
          description: >
            This parameter is used for finding stories whose title contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: body
          in: query
          description: >
            This parameter is used for finding stories whose body contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: text
          in: query
          description: >
            This parameter is used for finding stories whose title or body
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.title
          in: query
          description: >
            This parameter is used for finding stories whose translation title
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.body
          in: query
          description: >
            This parameter is used for finding stories whose translation body
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.text
          in: query
          description: >
            This parameter is used for finding stories whose translation title
            or body contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: language[]
          in: query
          description: >
            This parameter is used for finding stories whose language is the
            specified value. It supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - en
                - de
                - fr
                - it
                - es
                - pt
        - name: "!language[]"
          in: query
          description: >
            This parameter is used for excluding stories whose language is the
            specified value. It supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - en
                - de
                - fr
                - it
                - es
                - pt
        - name: published_at.start
          in: query
          description: >
            This parameter is used for finding stories whose published at time
            is greater than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          schema:
            type: string
        - name: published_at.end
          in: query
          description: >
            This parameter is used for finding stories whose published at time
            is less than the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-dates) you can
            find more information about how [to work with
            dates](https://newsapi.aylien.com/docs/working-with-dates).
          schema:
            type: string
        - name: categories.taxonomy
          in: query
          description: >
            This parameter is used for defining the type of the taxonomy for the
            rest of the categories queries. You can read more about working with
            categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          schema:
            type: string
            enum:
              - iab-qag
              - iptc-subjectcode
        - name: categories.confident
          in: query
          description: >
            This parameter is used for finding stories whose categories are
            confident. You can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          schema:
            type: boolean
            default: true
        - name: categories.id[]
          in: query
          description: >
            This parameter is used for finding stories by categories id. You can
            read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!categories.id[]"
          in: query
          description: >
            This parameter is used for excluding stories by categories id. You
            can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: categories.level[]
          in: query
          description: >
            This parameter is used for finding stories by categories level. You
            can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "!categories.level[]"
          in: query
          description: >
            This parameter is used for excluding stories by categories level.
            You can read more about working with categories
            [here](https://newsapi.aylien.com/docs/working-with-categories).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: entities.title.text[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `text` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.text[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `text` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.title.type[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `type` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.type[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `type` in story titles. You can read more about working
            with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.title.links.dbpedia[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities dbpedia URL in story titles. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.title.links.dbpedia[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities dbpedia URL in story titles. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.text[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `text` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.text[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `text` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.type[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities `type` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.type[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities `type` in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entities.body.links.dbpedia[]
          in: query
          description: >
            This parameter is used to find stories based on the specified
            entities dbpedia URL in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!entities.body.links.dbpedia[]"
          in: query
          description: >
            This parameter is used to exclude stories based on the specified
            entities dbpedia URL in the body of stories. You can read more about
            working with entities
            [here](https://newsapi.aylien.com/docs/working-with-entities).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: sentiment.title.polarity
          in: query
          description: >
            This parameter is used for finding stories whose title sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: "!sentiment.title.polarity"
          in: query
          description: >
            This parameter is used for excluding stories whose title sentiment
            is the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: sentiment.body.polarity
          in: query
          description: >
            This parameter is used for finding stories whose body sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: "!sentiment.body.polarity"
          in: query
          description: >
            This parameter is used for excluding stories whose body sentiment is
            the specified value.
          schema:
            type: string
            enum:
              - positive
              - neutral
              - negative
        - name: media.images.count.min
          in: query
          description: >
            This parameter is used for finding stories whose number of images is
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.count.max
          in: query
          description: >
            This parameter is used for finding stories whose number of images is
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.width.min
          in: query
          description: >
            This parameter is used for finding stories whose width of images are
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.width.max
          in: query
          description: >
            This parameter is used for finding stories whose width of images are
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.height.min
          in: query
          description: >
            This parameter is used for finding stories whose height of images
            are greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.height.max
          in: query
          description: >
            This parameter is used for finding stories whose height of images
            are less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.content_length.min
          in: query
          description: >
            This parameter is used for finding stories whose images content
            length are greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.content_length.max
          in: query
          description: >
            This parameter is used for finding stories whose images content
            length are less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.images.format[]
          in: query
          description: >
            This parameter is used for finding stories whose images format are
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - BMP
                - GIF
                - JPEG
                - PNG
                - TIFF
                - PSD
                - ICO
                - CUR
                - WEBP
                - SVG
        - name: "!media.images.format[]"
          in: query
          description: >
            This parameter is used for excluding stories whose images format are
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - BMP
                - GIF
                - JPEG
                - PNG
                - TIFF
                - PSD
                - ICO
                - CUR
                - WEBP
                - SVG
        - name: media.videos.count.min
          in: query
          description: >
            This parameter is used for finding stories whose number of videos is
            greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: media.videos.count.max
          in: query
          description: >
            This parameter is used for finding stories whose number of videos is
            less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: author.id[]
          in: query
          description: >
            This parameter is used for finding stories whose author id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: "!author.id[]"
          in: query
          description: >
            This parameter is used for excluding stories whose author id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: author.name
          in: query
          description: >
            This parameter is used for finding stories whose author full name
            contains the specified value.
          schema:
            type: string
        - name: "!author.name"
          in: query
          description: >
            This parameter is used for excluding stories whose author full name
            contains the specified value.
          schema:
            type: string
        - name: source.id[]
          in: query
          description: >
            This parameter is used for finding stories whose source id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: "!source.id[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source id is the
            specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: source.name[]
          in: query
          description: >
            This parameter is used for finding stories whose source name
            contains the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.name[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source name
            contains the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.domain[]
          in: query
          description: >
            This parameter is used for finding stories whose source domain is
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.domain[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source domain is
            the specified value.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.country[]
          in: query
          description: >
            This parameter is used for finding stories whose source country is
            the specified value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.country[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source country is
            the specified value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.state[]
          in: query
          description: >
            This parameter is used for finding stories whose source
            state/province is the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.state[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source
            state/province is the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.locations.city[]
          in: query
          description: >
            This parameter is used for finding stories whose source city is the
            specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.locations.city[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source city is
            the specified value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.country[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.country[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.state[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified state/province value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.state[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified state/province value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.city[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified city value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "!source.scopes.city[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified city value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: source.scopes.level[]
          in: query
          description: >
            This parameter is used for finding stories whose source scopes is
            the specified level value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - international
                - national
                - local
        - name: "!source.scopes.level[]"
          in: query
          description: >
            This parameter is used for excluding stories whose source scopes is
            the specified level value.
            [Here](https://newsapi.aylien.com/docs/working-with-locations) you
            can find more information about how [to work with
            locations](https://newsapi.aylien.com/docs/working-with-locations).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - international
                - national
                - local
        - name: source.links_in_count.min
          in: query
          description: >
            This parameter is used for finding stories from sources whose Links
            in count is greater than or equal to the specified value. You can
            read more about working with Links in count
            [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.links_in_count.max
          in: query
          description: >
            This parameter is used for finding stories from sources whose Links
            in count is less than or equal to the specified value. You can read
            more about working with Links in count
            [here](https://newsapi.aylien.com/docs/working-with-links-in-count).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.rank.min
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is greater than or equal to the specified value. You can read
            more about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.rank.max
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is less than or equal to the specified value. You can read more
            about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: source.rankings.alexa.country[]
          in: query
          description: >
            This parameter is used for finding stories from sources whose Alexa
            rank is in the specified country value. It supports [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country
            codes. You can read more about working with Alexa ranks
            [here](https://newsapi.aylien.com/docs/working-with-alexa-ranks).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: social_shares_count.facebook.min
          in: query
          description: >
            This parameter is used for finding stories whose Facebook social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.facebook.max
          in: query
          description: >
            This parameter is used for finding stories whose Facebook social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.google_plus.min
          in: query
          description: >
            This parameter is used for finding stories whose Google+ social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.google_plus.max
          in: query
          description: >
            This parameter is used for finding stories whose Google+ social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.linkedin.min
          in: query
          description: >
            This parameter is used for finding stories whose LinkedIn social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.linkedin.max
          in: query
          description: >
            This parameter is used for finding stories whose LinkedIn social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.reddit.min
          in: query
          description: >
            This parameter is used for finding stories whose Reddit social
            shares count is greater than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: social_shares_count.reddit.max
          in: query
          description: >
            This parameter is used for finding stories whose Reddit social
            shares count is less than or equal to the specified value.
          schema:
            minimum: 0
            exclusiveMinimum: true
            type: integer
            format: int32
        - name: clusters[]
          in: query
          description: >
            This parameter is used for finding stories with belonging to one of
            clusters in a specific set of clusters You can read more about
            working with clustering
            [here](https://newsapi.aylien.com/docs/working-with-clustering).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: return[]
          in: query
          description: This parameter is used for specifying return fields.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - title
                - body
                - summary
                - source
                - author
                - entities
                - keywords
                - hashtags
                - characters_count
                - words_count
                - sentences_count
                - paragraphs_count
                - categories
                - social_shares_count
                - media
                - sentiment
                - language
                - published_at
                - links
        - name: story_id
          in: query
          description: A story id
          schema:
            type: integer
            format: int64
        - name: story_url
          in: query
          description: An article or webpage
          schema:
            type: string
        - name: story_title
          in: query
          description: Title of the article
          schema:
            type: string
        - name: story_body
          in: query
          description: Body of the article
          schema:
            type: string
        - name: boost_by
          in: query
          description: >
            This parameter is used for boosting the result by the specified
            value.
          schema:
            type: string
            enum:
              - recency
              - popularity
        - name: story_language
          in: query
          description: >
            This parameter is used for setting the language of the story. It
            supports [ISO
            639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            language codes.
          schema:
            type: string
            default: auto
            enum:
              - auto
              - en
              - de
              - fr
              - it
              - es
              - pt
        - name: per_page
          in: query
          description: |
            This parameter is used for specifying number of items in each page.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 3
      responses:
        "200":
          description: An object including an array of related stories
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                type: integer
                format: int64
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelatedStories"
            text/xml:
              schema:
                $ref: "#/components/schemas/RelatedStories"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "429":
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period.
              schema:
                type: integer
                format: int32
            X-RateLimit-Reset:
              description: >
                The remaining window before the rate limit resets in UTC [epoch
                seconds](https://en.wikipedia.org/wiki/Unix_time).
              schema:
                type: integer
                format: int64
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
            text/xml:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - app_id: []
        - app_key: []
  /coverages:
    get:
      summary: List coverages
      description: >
        The coverages endpoint allows you to understand the reach a document has
        had. For example, you can track the coverage of a press release or a
        Tweet based on how many times it has been mentioned in stories.
      operationId: listCoverages
      parameters:
        - name: id[]
          in: query
          description: |
            This parameter is used for finding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: "!id[]"
          in: query
          description: |
            This parameter is used for excluding stories by story id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: title
          in: query
          description: >
            This parameter is used for finding stories whose title contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: body
          in: query
          description: >
            This parameter is used for finding stories whose body contains a
            specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: text
          in: query
          description: >
            This parameter is used for finding stories whose title or body
            contains a specific keyword. It supports [boolean
            operators](https://newsapi.aylien.com/docs/boolean-operators).
          schema:
            type: string
        - name: translations.en.title
[...]
